<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Centrex.My.MySettings.dbCentrexConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=dbCentrex;Persist Security Info=True;User ID=sa;Password=Ladeda78" providerName="System.Data.SqlClient" />
    <add name="CentrexConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=dbCentrex;Persist Security Info=True;User ID=sa;Password=Ladeda78" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AFIP.Mode" value="HOMO" />
    <add key="AFIP.CuitEmisor" value="" />
    <add key="AFIP.Homo.CertPath" value="" />
    <add key="AFIP.Homo.CertPass" value="" />
    <add key="AFIP.Prod.CertPath" value="" />
    <add key="AFIP.Prod.CertPass" value="" />
    <add key="AFIP.TimeoutSeconds" value="60" />
    <add key="AFIP.WSAA.HOMO" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" />
    <add key="AFIP.WSAA.PROD" value="https://wsaa.afip.gov.ar/ws/services/LoginCms" />
    <add key="AFIP.WSFE.HOMO" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" />
    <add key="AFIP.WSFE.PROD" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=127.0.0.1;Initial Catalog=dbCentrex;Persist Security Info=True;User ID=sa;Password=Ladeda78" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
