USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoComprobante]    Script Date: 24/8/2021 20:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[CalculoComprobante] 
(
	@id_tipoComprobante INTEGER
	, @puntoVenta INTEGER
	, @numeroComprobante INTEGER
)
	RETURNS NVARCHAR(50)
	BEGIN
	RETURN (Select CASE 
		WHEN @id_tipoComprobante = 1 THEN
			CONCAT('FC A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 2 THEN
			CONCAT('ND A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 3 THEN
			CONCAT('NC A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 4 THEN
			CONCAT('RC A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 6 THEN
			CONCAT('FC B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 7 THEN
			CONCAT('ND B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 8 THEN
			CONCAT('NC B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 9 THEN
			CONCAT('RC B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 11 THEN
			CONCAT('FC C ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 12 THEN
			CONCAT('ND C ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 13 THEN
			CONCAT('NC C ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 15 THEN
			CONCAT('RC C ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 51 THEN
			CONCAT('FC M ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 52 THEN
			CONCAT('ND M ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 53 THEN
			CONCAT('NC M ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 54 THEN
			CONCAT('RC M ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 99 THEN
			CONCAT('PR ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 199 THEN
			CONCAT('RM ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 200 THEN
			CONCAT('SID ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 201 THEN
			CONCAT('SIA ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1002 THEN
			CONCAT('AN. RM A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1003 THEN
			CONCAT('AN. RM B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1004 THEN
			CONCAT('AN. RM C ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1005 THEN
			CONCAT('AN. RM M ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1011 THEN
			CONCAT('PF. A ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1012 THEN
			CONCAT('PF. B ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
		WHEN @id_tipoComprobante = 1013 THEN
			CONCAT('AN. RM. ', 'Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
	END AS 'Comprobante')
	END