USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertCobro]    Script Date: 07/10/21 00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_insertCobro]
	-- Add the parameters for the stored procedure here
	@fecha_cobro AS NVARCHAR(100)
	, @id_cliente AS INTEGER
	, @id_cc AS INTEGER
	, @dineroEnCc AS DECIMAL(18,3)
	, @efectivo AS DECIMAL(18,3)
	, @totalTransferencia AS DECIMAL(18,3)
	, @totalCh AS DECIMAL(18,3)
	, @totalRetencion AS DECIMAL(18,3)
	, @total AS DECIMAL(18,3)
	, @hayCheque AS BIT
	, @hayTransferencia AS BIT
	, @hayRetencion AS BIT
	--, @aplicaFc AS NVARCHAR(MAX)
	, @id_anulaCobro AS INTEGER
	, @notas AS NVARCHAR(MAX)
	, @firmante AS NVARCHAR(50)	
	, @resultado AS INTEGER OUTPUT	
AS
BEGIN		
	DECLARE @resultado_transaccion AS INTEGER
	DECLARE @id_tipoComprobante AS INTEGER
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	INSERT INTO cobros (
		fecha_cobro, 
		id_cliente, 
		id_cc, 
		dineroEnCc, 
		efectivo, 
		totalTransferencia, 
		totalCh, 
		totalRetencion, 
		total, 
		hayCheque, 
		hayTransferencia, 
		hayRetencion,
		--aplicaFc, 
		id_anulaCobro,
		notas,
		firmante	
	)
	VALUES (
		@fecha_cobro, 
		@id_cliente,
		@id_cc, 
		@dineroEnCc,
		@efectivo,
		@totalTransferencia,
		@totalCh,
		@totalRetencion,
		@total, 
		@hayCheque,
		@hayTransferencia,
		@hayRetencion,
		--@aplicaFc,
		@id_anulaCobro,
		@notas,
		@firmante
	)

	SET @resultado = SCOPE_IDENTITY()	

	IF @resultado IS NULL
		SET @resultado = -1

	IF @resultado = -1
		RETURN @resultado

	SELECT @id_tipoComprobante = CASE WHEN total > 0 THEN 4 ELSE 1015 END 
	FROM cobros
	WHERE id_cobro = @resultado

	INSERT INTO transacciones (
		fecha
		, id_cobro
		, id_tipoComprobante
		, numeroComprobante
		, puntoVenta
		, total
		, id_cc
		, id_cliente
	)
	VALUES (
		@fecha_cobro
		, @resultado
		--, '4' --4 = RECIBO 
		, @id_tipoComprobante
		, @resultado
		, '1'
		, @total
		, @id_cc
		, @id_cliente
	)
	
	SET @resultado_transaccion = SCOPE_IDENTITY()

	IF @resultado_transaccion IS NULL
		DELETE cobros WHERE id_cobro = @resultado
	
	IF @resultado_transaccion IS NULL 
		SET @resultado = -1
	
	RETURN @resultado
END
