USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tipos_comprobantes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_comprobantes](
	[id_tipoComprobante] [int] NOT NULL,
	[comprobante_AFIP] [nvarchar](100) NOT NULL,
	[id_claseFiscal] [nvarchar](100) NULL,
	[signoProveedor] [char](1) NULL,
	[signoCliente] [char](1) NULL,
	[discriminaIVA] [bit] NULL,
	[esRemito] [bit] NULL,
	[nombreAbreviado] [nvarchar](10) NULL,
	[id_claseComprobante] [int] NOT NULL,
	[id_anulaTipoComprobante] [int] NULL,
	[contabilizar] [bit] NOT NULL,
 CONSTRAINT [PK_tipos_comprobantes] PRIMARY KEY CLUSTERED 
(
	[id_tipoComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tipos_comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_tipos_comprobantes_sys_claseComprobante] FOREIGN KEY([id_claseComprobante])
REFERENCES [dbo].[sys_claseComprobante] ([id_claseComprobante])
GO
ALTER TABLE [dbo].[tipos_comprobantes] CHECK CONSTRAINT [FK_tipos_comprobantes_sys_claseComprobante]
GO
