USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cuentas_bancarias]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_bancarias](
	[id_cuentaBancaria] [int] IDENTITY(1,1) NOT NULL,
	[id_banco] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[id_moneda] [int] NOT NULL,
	[saldo] [decimal](18, 3) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cuentas_bancarias_1] PRIMARY KEY CLUSTERED 
(
	[id_cuentaBancaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuentas_bancarias] ADD  CONSTRAINT [DF_cuentas_bancarias_saldo]  DEFAULT ((0)) FOR [saldo]
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD  CONSTRAINT [FK_cuentas_bancarias_bancos] FOREIGN KEY([id_banco])
REFERENCES [dbo].[bancos] ([id_banco])
GO
ALTER TABLE [dbo].[cuentas_bancarias] CHECK CONSTRAINT [FK_cuentas_bancarias_bancos]
GO
ALTER TABLE [dbo].[cuentas_bancarias]  WITH CHECK ADD  CONSTRAINT [FK_cuentas_bancarias_sysMoneda] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[sysMoneda] ([id_moneda])
GO
ALTER TABLE [dbo].[cuentas_bancarias] CHECK CONSTRAINT [FK_cuentas_bancarias_sysMoneda]
GO
