USE [dbCentrex]
GO
/****** Object:  Table [dbo].[consultas_personalizadas]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultas_personalizadas](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[consulta] [nvarchar](max) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_consultas_personalizadas] PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[consultas_personalizadas] ADD  CONSTRAINT [DF_consultas_personalizadas_activo]  DEFAULT ((1)) FOR [activo]
GO
