USE [dbCentrex]
GO
/****** Object:  Table [dbo].[pedidos_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos_items](
	[id_pedidoItem] [int] IDENTITY(1,1) NOT NULL,
	[id_item] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[id_pedido] [int] NULL,
	[activo] [bit] NOT NULL,
	[descript] [nvarchar](100) NULL,
 CONSTRAINT [PK_pedidos_items_1] PRIMARY KEY CLUSTERED 
(
	[id_pedidoItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedidos_items] ADD  CONSTRAINT [DF_pedidos_items_precio]  DEFAULT ((1)) FOR [precio]
GO
ALTER TABLE [dbo].[pedidos_items] ADD  CONSTRAINT [DF_pedidos_items_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[pedidos_items]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_items_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[pedidos_items] CHECK CONSTRAINT [FK_pedidos_items_items]
GO
ALTER TABLE [dbo].[pedidos_items]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_items_pedidos1] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[pedidos_items] CHECK CONSTRAINT [FK_pedidos_items_pedidos1]
GO
/****** Object:  Trigger [dbo].[Debitar_Stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Debitar_Stock]
   ON [dbo].[pedidos_items]
   FOR INSERT
   AS

   UPDATE i SET i.cantidad = i.cantidad - ins.cantidad
   FROM items AS i   
   INNER JOIN INSERTED AS ins ON i.id_item = ins.id_item
   INNER JOIN pedidos AS p ON ins.id_pedido = p.id_pedido
   INNER JOIN comprobantes AS c ON p.id_comprobante = c.id_comprobante
   WHERE c.mueveStock = 1
GO
ALTER TABLE [dbo].[pedidos_items] ENABLE TRIGGER [Debitar_Stock]
GO
/****** Object:  Trigger [dbo].[Regresar_Stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Regresar_Stock]
   ON [dbo].[pedidos_items]
   FOR DELETE
   AS

   UPDATE i SET i.cantidad = i.cantidad + del.cantidad
   FROM items AS i
   INNER JOIN DELETED AS del ON i.id_item = del.id_item
   INNER JOIN pedidos AS p ON del.id_pedido = p.id_pedido
   INNER JOIN comprobantes AS c ON p.id_comprobante = c.id_comprobante
   WHERE c.mueveStock = 1
GO
ALTER TABLE [dbo].[pedidos_items] ENABLE TRIGGER [Regresar_Stock]
GO
/****** Object:  Trigger [dbo].[Update_Stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Update_Stock]
   ON [dbo].[pedidos_items]
   FOR UPDATE
   AS    

  	UPDATE i SET i.cantidad = i.cantidad + del.cantidad
	FROM items AS i
	INNER JOIN DELETED AS del ON i.id_item = del.id_item
	INNER JOIN pedidos AS p ON del.id_pedido = p.id_pedido
	INNER JOIN comprobantes AS c ON p.id_comprobante = c.id_comprobante
	WHERE c.mueveStock = 1

	UPDATE i SET i.cantidad = i.cantidad - ins.cantidad
	FROM items AS i
	INNER JOIN INSERTED AS ins ON i.id_item = ins.id_item
	INNER JOIN pedidos AS p ON ins.id_pedido = p.id_pedido
	INNER JOIN comprobantes AS c ON p.id_comprobante = c.id_comprobante
	WHERE c.mueveStock = 1
GO
ALTER TABLE [dbo].[pedidos_items] ENABLE TRIGGER [Update_Stock]
GO
