USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cambios]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cambios](
	[id_cambio] [int] IDENTITY(1,1) NOT NULL,
	[cambio] [varchar](max) NOT NULL,
	[fecha] [date] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cambios] PRIMARY KEY CLUSTERED 
(
	[id_cambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cambios] ADD  CONSTRAINT [DF_cambios_fecha]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[cambios] ADD  CONSTRAINT [DF_cambios_activo]  DEFAULT ((1)) FOR [activo]
GO
