USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cc_proveedores]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc_proveedores](
	[id_cc] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_moneda] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[saldo] [decimal](18, 3) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cc_proveedores] PRIMARY KEY CLUSTERED 
(
	[id_cc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cc_proveedores] ADD  CONSTRAINT [DF_cc_proveedores_id_moneda]  DEFAULT ((1)) FOR [id_moneda]
GO
ALTER TABLE [dbo].[cc_proveedores] ADD  CONSTRAINT [DF_cc_proveedores_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cc_proveedores]  WITH CHECK ADD  CONSTRAINT [FK_cc_proveedores_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[cc_proveedores] CHECK CONSTRAINT [FK_cc_proveedores_proveedores]
GO
ALTER TABLE [dbo].[cc_proveedores]  WITH CHECK ADD  CONSTRAINT [FK_cc_proveedores_sysMoneda] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[sysMoneda] ([id_moneda])
GO
ALTER TABLE [dbo].[cc_proveedores] CHECK CONSTRAINT [FK_cc_proveedores_sysMoneda]
GO
/****** Object:  Trigger [dbo].[No_borrar_ultima_CC_proveedor]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[No_borrar_ultima_CC_proveedor] ON [dbo].[cc_proveedores]
INSTEAD OF DELETE 
AS 
BEGIN
  DELETE FROM cc_clientes WHERE (    
		SELECT COUNT(d.id_cc) 
		FROM Deleted d 
		INNER JOIN cc_proveedores AS b ON d.id_proveedor = b.id_proveedor
	) > 1 AND id_cc = (
		SELECT dd.id_cc 
		FROM deleted dd
	);
END;
GO
ALTER TABLE [dbo].[cc_proveedores] ENABLE TRIGGER [No_borrar_ultima_CC_proveedor]
GO
