USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculoComprobante]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculoComprobante] 
(
	@nombreAbreviado NVARCHAR(10)
	, @puntoVenta INTEGER
	, @numeroComprobante INTEGER
)
	RETURNS NVARCHAR(50)
	BEGIN	
	RETURN CONCAT(@nombreAbreviado, ' Nº  ', REPLICATE('0', 4 - LEN(@puntoVenta)), @puntoVenta, '-', REPLICATE('0', 8 - LEN(@numeroComprobante)), @numeroComprobante)
	END
GO
