USE [dbCentrex]
GO
/****** Object:  Table [dbo].[transacciones]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones](
	[id_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_pedido] [int] NULL,
	[id_comprobanteCompra] [int] NULL,
	[id_cobro] [int] NULL,
	[id_pago] [int] NULL,
	[id_tipoComprobante] [int] NULL,
	[numeroComprobante] [int] NULL,
	[puntoVenta] [int] NULL,
	[total] [decimal](18, 3) NULL,
	[id_cc] [int] NULL,
	[id_cliente] [int] NULL,
	[id_proveedor] [int] NULL,
 CONSTRAINT [PK_transacciones] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_cobros]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_comprobantes_compras] FOREIGN KEY([id_comprobanteCompra])
REFERENCES [dbo].[comprobantes_compras] ([id_comprobanteCompra])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_comprobantes_compras]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_pagos] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_pagos]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_pedidos] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_pedidos]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_tipos_comprobantes] FOREIGN KEY([id_tipoComprobante])
REFERENCES [dbo].[tipos_comprobantes] ([id_tipoComprobante])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_tipos_comprobantes]
GO
