USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertItemsTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_insertItemsTMP]
	-- Add the parameters for the stored procedure here
	@id_tmpPedidoItem AS INTEGER
	, @id_item AS INTEGER
	, @cantidad AS INTEGER
	, @precio AS DECIMAL(18,2)
	, @descript AS NVARCHAR(100)
	, @item AS NVARCHAR(50)
	, @id_usuario AS INTEGER
	, @id_unico AS NVARCHAR(MAX)
	, @resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	IF @item = 'MANUAL'
		BEGIN
			INSERT tmppedidos_items (descript, cantidad, precio, id_usuario, id_unico) SELECT @descript, @cantidad, @precio, @id_usuario, @id_unico
		END
	ELSE
		BEGIN
			INSERT tmppedidos_items (id_item, cantidad, precio, id_usuario, id_unico) SELECT @id_item, @cantidad, @precio, @id_usuario, @id_unico
	END
	
	
	SET @resultado = 1
	RETURN
END
GO
