USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cobros_cheques]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobros_cheques](
	[id_cobro] [int] NOT NULL,
	[id_cheque] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cobros_cheques]  WITH CHECK ADD  CONSTRAINT [FK_cobros_cheques_cheques] FOREIGN KEY([id_cheque])
REFERENCES [dbo].[cheques] ([id_cheque])
GO
ALTER TABLE [dbo].[cobros_cheques] CHECK CONSTRAINT [FK_cobros_cheques_cheques]
GO
ALTER TABLE [dbo].[cobros_cheques]  WITH CHECK ADD  CONSTRAINT [FK_cobros_cheques_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[cobros_cheques] CHECK CONSTRAINT [FK_cobros_cheques_cobros]
GO
