USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[milesArgentinos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[milesArgentinos](@valor VARCHAR(50))
RETURNS VARCHAR(50)
AS
BEGIN
   SET @valor = REPLACE(@valor, '.', '*')
  SET @valor = REPLACE(@valor, ',', '.')
  SET @valor = REPLACE(@valor, '*', ',')
  
  RETURN @valor
END
GO
