USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tipos_documentos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_documentos](
	[id_tipoDocumento] [int] NOT NULL,
	[documento] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_tipos_documentos] PRIMARY KEY CLUSTERED 
(
	[id_tipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tipos_documentos] ADD  CONSTRAINT [DF_tipos_documentos_activo]  DEFAULT ((1)) FOR [activo]
GO
