USE [dbCentrex]
GO
/****** Object:  Table [dbo].[sys_ClasesFiscales]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_ClasesFiscales](
	[id_claseFiscal] [int] IDENTITY(1,1) NOT NULL,
	[descript] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_sys_ClasesFiscales] PRIMARY KEY CLUSTERED 
(
	[id_claseFiscal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
