USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_detalle_pagos_fc_importes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_detalle_pagos_fc_importes]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		id_pago
		, CONVERT(NVARCHAR(20), fecha, 103) AS 'fecha'
		, nfactura		
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(importe AS MONEY),1))) AS 'importe'
	FROM pagos_Nfacturas_importes 	
	WHERE id_pago = @id
END
GO
