USE [dbCentrex]
GO
/****** Object:  Table [dbo].[transferencias]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transferencias](
	[id_transferencia] [int] IDENTITY(1,1) NOT NULL,
	[id_cobro] [int] NULL,
	[id_pago] [int] NULL,
	[id_cuentaBancaria] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[nComprobante] [nvarchar](50) NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_cobros_transferencias] PRIMARY KEY CLUSTERED 
(
	[id_transferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[transferencias]  WITH CHECK ADD  CONSTRAINT [FK_cobros_transferencias_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[transferencias] CHECK CONSTRAINT [FK_cobros_transferencias_cobros]
GO
ALTER TABLE [dbo].[transferencias]  WITH CHECK ADD  CONSTRAINT [FK_cobros_transferencias_cuentas_bancarias] FOREIGN KEY([id_cuentaBancaria])
REFERENCES [dbo].[cuentas_bancarias] ([id_cuentaBancaria])
GO
ALTER TABLE [dbo].[transferencias] CHECK CONSTRAINT [FK_cobros_transferencias_cuentas_bancarias]
GO
ALTER TABLE [dbo].[transferencias]  WITH CHECK ADD  CONSTRAINT [FK_transferencias_pagos] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[transferencias] CHECK CONSTRAINT [FK_transferencias_pagos]
GO
