USE [dbCentrex]
GO
/****** Object:  Table [dbo].[pagos_nFacturas_importes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos_nFacturas_importes](
	[id_pago] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[nfactura] [nvarchar](50) NOT NULL,
	[importe] [decimal](18, 3) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pagos_nFacturas_importes]  WITH CHECK ADD  CONSTRAINT [FK_pagos_nFacturas_importes_pagos] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[pagos_nFacturas_importes] CHECK CONSTRAINT [FK_pagos_nFacturas_importes_pagos]
GO
