USE [dbCentrex]
GO
/****** Object:  Table [dbo].[condiciones_compra]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condiciones_compra](
	[id_condicion_compra] [int] IDENTITY(1,1) NOT NULL,
	[condicion] [nvarchar](100) NOT NULL,
	[vencimiento] [int] NOT NULL,
	[recargo] [decimal](18, 4) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_condiciones_compra] PRIMARY KEY CLUSTERED 
(
	[id_condicion_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
