USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_comprobanteCompra_detalle_conceptos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_comprobanteCompra_detalle_conceptos]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ccc.id_concepto_compra AS 'id'
			, cc.concepto AS 'concepto'
			, ccc.subtotal AS 'subtotal'
			, ccc.iva AS 'iva'
			, ccc.total AS 'total'
	FROM comprobantes_compras_conceptos AS ccc
	INNER JOIN conceptos_compra AS cc ON ccc.id_concepto_compra = cc.id_concepto_compra
	WHERE ccc.id_comprobanteCompra = @id
END
GO
