USE [dbCentrex]
GO
/****** Object:  Table [dbo].[permisos_perfiles]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos_perfiles](
	[id_permiso] [int] NOT NULL,
	[id_pefil] [int] NOT NULL,
 CONSTRAINT [PK_permisos_perfiles] PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC,
	[id_pefil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[permisos_perfiles]  WITH CHECK ADD  CONSTRAINT [FK_permisos_perfiles_perfiles] FOREIGN KEY([id_pefil])
REFERENCES [dbo].[perfiles] ([id_perfil])
GO
ALTER TABLE [dbo].[permisos_perfiles] CHECK CONSTRAINT [FK_permisos_perfiles_perfiles]
GO
ALTER TABLE [dbo].[permisos_perfiles]  WITH CHECK ADD  CONSTRAINT [FK_permisos_perfiles_permisos] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permisos] ([id_permiso])
GO
ALTER TABLE [dbo].[permisos_perfiles] CHECK CONSTRAINT [FK_permisos_perfiles_permisos]
GO
