USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_detalle_cobros_retenciones]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_detalle_cobros_retenciones]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT cr.id_retencion, i.nombre AS 'retencion', 
	CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cr.total AS MONEY),1))) AS 'total', cr.notas
	FROM cobros AS c
	INNER JOIN cobros_retenciones AS cr ON c.id_cobro = cr.id_cobro		
	INNER JOIN impuestos AS i ON cr.id_impuesto = i.id_impuesto
	WHERE c.id_cobro = @id
END
GO
