USE [dbCentrex]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[taxNumber] [nvarchar](50) NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[contacto] [nvarchar](100) NULL,
	[telefono] [nvarchar](50) NULL,
	[celular] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[id_provincia_fiscal] [int] NULL,
	[direccion_fiscal] [nvarchar](200) NULL,
	[localidad_fiscal] [nvarchar](200) NULL,
	[cp_fiscal] [nvarchar](20) NULL,
	[id_provincia_entrega] [int] NULL,
	[direccion_entrega] [nvarchar](200) NULL,
	[localidad_entrega] [nvarchar](200) NULL,
	[cp_entrega] [nvarchar](20) NULL,
	[notas] [nvarchar](max) NULL,
	[esInscripto] [bit] NOT NULL,
	[vendedor] [nvarchar](100) NULL,
	[activo] [bit] NOT NULL,
	[id_tipoDocumento] [int] NOT NULL,
	[id_claseFiscal] [int] NULL,
 CONSTRAINT [PK_proveedores] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[proveedores] ADD  CONSTRAINT [DF_proveedores_esInscripto]  DEFAULT ((1)) FOR [esInscripto]
GO
ALTER TABLE [dbo].[proveedores] ADD  CONSTRAINT [DF_proveedores_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[proveedores]  WITH CHECK ADD  CONSTRAINT [FK_proveedores_sys_ClasesFiscales] FOREIGN KEY([id_claseFiscal])
REFERENCES [dbo].[sys_ClasesFiscales] ([id_claseFiscal])
GO
ALTER TABLE [dbo].[proveedores] CHECK CONSTRAINT [FK_proveedores_sys_ClasesFiscales]
GO
/****** Object:  Trigger [dbo].[creaCCProveedor]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[creaCCProveedor]
   ON [dbo].[proveedores]
   AFTER INSERT
   AS
   BEGIN
	DECLARE @id_proveedor AS INTEGER
	SET NOCOUNT ON;
	SELECT @id_proveedor = id_proveedor FROM inserted

	INSERT INTO cc_proveedores(id_proveedor, id_moneda, nombre, saldo, activo) 
		VALUES (@id_proveedor, 1, 'Default', 0, 1)
   END 
GO
ALTER TABLE [dbo].[proveedores] ENABLE TRIGGER [creaCCProveedor]
GO
