USE [dbCentrex]
GO
/****** Object:  Table [dbo].[separador_decimal]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[separador_decimal](
	[id_separador] [int] IDENTITY(1,1) NOT NULL,
	[separador] [varchar](1) NOT NULL,
 CONSTRAINT [PK_separador_decimal] PRIMARY KEY CLUSTERED 
(
	[id_separador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
