USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertTmpTransferencia]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_insertTmpTransferencia]
	-- Add the parameters for the stored procedure here	
	@id_cuentaBancaria AS INTEGER,
	@fecha AS NVARCHAR(100),	
	@total AS DECIMAL(18,3),
	@nComprobante AS NVARCHAR(100),
	@notas AS NVARCHAR(100),
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	INSERT INTO tmptransferencias (		
		id_cuentaBancaria,
		fecha,
		total,
		nComprobante,
		notas
	)
	VALUES (		
		@id_cuentaBancaria,
		@fecha,
		@total,
		@nComprobante,
		@notas
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
