USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertAsocItemsProduccionTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_insertAsocItemsProduccionTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpProduccion_asocItem AS INTEGER
	, @id_tmpProduccionItem AS INTEGER
	, @id_item AS INTEGER
	, @id_item_asoc AS INTEGER
	, @cantidad_item_asoc_enviada AS INTEGER
	, @id_usuario AS INTEGER
	, @resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	INSERT INTO tmpproduccion_asocItems (
		id_tmpProduccionItem
		, id_item
		, id_item_asoc
		, cantidad_item_asoc_enviada
		, id_usuario
	)
	VALUES (
		@id_tmpProduccionItem
		, @id_item
		, @id_item_asoc
		, @cantidad_item_asoc_enviada
		, @id_usuario
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
