USE [dbCentrex]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha_carga] [date] NULL,
	[fecha_pago] [date] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_cc] [int] NOT NULL,
	[dineroEnCc] [decimal](18, 3) NOT NULL,
	[efectivo] [decimal](18, 3) NOT NULL,
	[totalTransferencia] [decimal](18, 3) NOT NULL,
	[totalCh] [decimal](18, 0) NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[hayCheque] [bit] NOT NULL,
	[hayTransferencia] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[id_anulaPago] [int] NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_pagos] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_fecha_carga]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_dineroEnCc]  DEFAULT ((0)) FOR [dineroEnCc]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_efectivo]  DEFAULT ((0)) FOR [efectivo]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_transferencia]  DEFAULT ((0)) FOR [totalTransferencia]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_totalCh]  DEFAULT ((0)) FOR [totalCh]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[pagos] ADD  CONSTRAINT [DF_pagos_activo]  DEFAULT ((0)) FOR [activo]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_cc_proveedores] FOREIGN KEY([id_cc])
REFERENCES [dbo].[cc_proveedores] ([id_cc])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_cc_proveedores]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_proveedores]
GO
