USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmpregistros_stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpregistros_stock](
	[id_registrotmp] [int] IDENTITY(1,1) NOT NULL,
	[id_ingreso] [int] NOT NULL,
	[fecha] [date] NULL,
	[fecha_ingreso] [date] NOT NULL,
	[factura] [nvarchar](50) NULL,
	[archivofc] [image] NULL,
	[id_proveedor] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
	[precio_lista] [decimal](18, 2) NOT NULL,
	[factor] [decimal](18, 2) NULL,
	[cantidad_anterior] [int] NOT NULL,
	[costo_anterior] [decimal](18, 2) NOT NULL,
	[precio_lista_anterior] [decimal](18, 2) NOT NULL,
	[factor_anterior] [decimal](18, 2) NOT NULL,
	[nota] [varchar](max) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_tmpregistros_stock] PRIMARY KEY CLUSTERED 
(
	[id_registrotmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpregistros_stock] ADD  CONSTRAINT [DF_tmpregistros_stock_id_ingreso]  DEFAULT ([dbo].[idultimoingreso]()+(1)) FOR [id_ingreso]
GO
ALTER TABLE [dbo].[tmpregistros_stock] ADD  CONSTRAINT [DF_tmpregistros_stock_fecha_ingreso]  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[tmpregistros_stock] ADD  CONSTRAINT [DF_tmpregistros_stock_id_proveedor]  DEFAULT ((1)) FOR [id_proveedor]
GO
ALTER TABLE [dbo].[tmpregistros_stock] ADD  CONSTRAINT [DF_tmpregistros_stock_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tmpregistros_stock]  WITH CHECK ADD  CONSTRAINT [FK_tmpregistros_stock_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[tmpregistros_stock] CHECK CONSTRAINT [FK_tmpregistros_stock_items]
GO
ALTER TABLE [dbo].[tmpregistros_stock]  WITH CHECK ADD  CONSTRAINT [FK_tmpregistros_stock_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[tmpregistros_stock] CHECK CONSTRAINT [FK_tmpregistros_stock_proveedores]
GO
