USE [dbCentrex]
GO
/****** Object:  Table [dbo].[ordenesCompras_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenesCompras_items](
	[id_ocItem] [int] IDENTITY(1,1) NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[descript] [nvarchar](54) NULL,
	[cantidad_recibida] [int] NULL,
	[precio] [decimal](18, 3) NOT NULL,
	[id_ordenCompra] [int] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ordenesCompra_items] PRIMARY KEY CLUSTERED 
(
	[id_ocItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ordenesCompras_items]  WITH CHECK ADD  CONSTRAINT [FK_ordenesCompra_items_ordenes_compras] FOREIGN KEY([id_ordenCompra])
REFERENCES [dbo].[ordenes_compras] ([id_ordenCompra])
GO
ALTER TABLE [dbo].[ordenesCompras_items] CHECK CONSTRAINT [FK_ordenesCompra_items_ordenes_compras]
GO
ALTER TABLE [dbo].[ordenesCompras_items]  WITH CHECK ADD  CONSTRAINT [FK_ordenesCompras_items_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[ordenesCompras_items] CHECK CONSTRAINT [FK_ordenesCompras_items_items]
GO
