USE [dbCentrex]
GO
/****** Object:  Table [dbo].[items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[item] [nvarchar](50) NOT NULL,
	[descript] [nvarchar](54) NULL,
	[cantidad] [int] NULL,
	[costo] [decimal](18, 6) NOT NULL,
	[precio_lista] [decimal](18, 6) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[factor] [decimal](18, 6) NULL,
	[esDescuento] [bit] NOT NULL,
	[esMarkup] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_items] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_cantidad]  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_activo]  DEFAULT ((0)) FOR [esDescuento]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_activo_1]  DEFAULT ((0)) FOR [esMarkup]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_activo_2]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_marcas_items] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marcas_items] ([id_marca])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_marcas_items]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_proveedores]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_tipos_items] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipos_items] ([id_tipo])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_tipos_items]
GO
/****** Object:  Trigger [dbo].[BorrarItem_Impuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[BorrarItem_Impuesto]
   ON [dbo].[items]
   FOR DELETE
   AS
   
	DELETE FROM items_impuestos 
	WHERE id_item IN (SELECT id_item FROM deleted)
GO
ALTER TABLE [dbo].[items] DISABLE TRIGGER [BorrarItem_Impuesto]
GO
/****** Object:  Trigger [dbo].[CrearItem_Impuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CrearItem_Impuesto]
   ON [dbo].[items]
   FOR INSERT
   AS

	INSERT INTO items_impuestos (id_item, id_impuesto, activo) 
		SELECT i.id_item, ii.id_impuesto, ii.activo
		FROM items AS i
		JOIN items_impuestos AS ii ON ii.id_impuesto = ii.id_impuesto
		INNER JOIN INSERTED AS ins ON i.id_item = ins.id_item
		--WHERE ii.activo = '1'
GO
ALTER TABLE [dbo].[items] DISABLE TRIGGER [CrearItem_Impuesto]
GO
