USE [dbCentrex]
GO
/****** Object:  Table [dbo].[comprobantes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes](
	[id_comprobante] [int] IDENTITY(1,1) NOT NULL,
	[comprobante] [nvarchar](100) NOT NULL,
	[id_tipoComprobante] [int] NOT NULL,
	[numeroComprobante] [int] NOT NULL,
	[puntoVenta] [int] NOT NULL,
	[esFiscal] [bit] NULL,
	[esElectronica] [bit] NULL,
	[esManual] [bit] NULL,
	[esPresupuesto] [bit] NULL,
	[activo] [bit] NOT NULL,
	[testing] [bit] NOT NULL,
	[maxItems] [int] NULL,
	[comprobanteRelacionado] [int] NULL,
	[esMiPyME] [bit] NOT NULL,
	[CBU_emisor] [nvarchar](22) NULL,
	[alias_CBU_emisor] [nvarchar](50) NULL,
	[anula_MiPyME] [nvarchar](1) NULL,
	[contabilizar] [bit] NOT NULL,
	[mueveStock] [bit] NOT NULL,
	[id_modoMiPyme] [int] NOT NULL,
 CONSTRAINT [PK_comprobantes] PRIMARY KEY CLUSTERED 
(
	[id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comprobantes] ADD  CONSTRAINT [DF_comprobantes_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[comprobantes] ADD  CONSTRAINT [DF_comprobantes_testing]  DEFAULT ((0)) FOR [testing]
GO
ALTER TABLE [dbo].[comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_sys_modoMiPyme] FOREIGN KEY([id_modoMiPyme])
REFERENCES [dbo].[sys_modoMiPyme] ([id_modoMiPyme])
GO
ALTER TABLE [dbo].[comprobantes] CHECK CONSTRAINT [FK_comprobantes_sys_modoMiPyme]
GO
ALTER TABLE [dbo].[comprobantes]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_tipos_comprobantes] FOREIGN KEY([id_tipoComprobante])
REFERENCES [dbo].[tipos_comprobantes] ([id_tipoComprobante])
GO
ALTER TABLE [dbo].[comprobantes] CHECK CONSTRAINT [FK_comprobantes_tipos_comprobantes]
GO
