USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_updateItemsOCTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_updateItemsOCTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpOCItem AS INTEGER,
	@id_item AS INTEGER,
	@cantidad AS INTEGER,	
	@precio AS DECIMAL(18,3),
	@descript AS NVARCHAR(100),
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	UPDATE tmpOC_items SET
		id_item = @id_item,
		cantidad = @cantidad,
		precio = @precio,
		descript = @descript
	WHERE id_tmpOCItem = @id_tmpOCItem

	SET @resultado = @id_tmpOCItem

	RETURN @resultado
END
GO
