USE [dbCentrex]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[taxNumber] [nvarchar](50) NULL,
	[razon_social] [nvarchar](100) NOT NULL,
	[nombre_fantasia] [nvarchar](100) NULL,
	[contacto] [nvarchar](100) NULL,
	[telefono] [nvarchar](50) NULL,
	[celular] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[id_provincia_fiscal] [int] NULL,
	[direccion_fiscal] [nvarchar](200) NULL,
	[localidad_fiscal] [nvarchar](200) NULL,
	[cp_fiscal] [nvarchar](20) NULL,
	[id_provincia_entrega] [int] NULL,
	[direccion_entrega] [nvarchar](200) NULL,
	[localidad_entrega] [nvarchar](200) NULL,
	[cp_entrega] [nvarchar](20) NULL,
	[notas] [nvarchar](max) NULL,
	[esInscripto] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[id_tipoDocumento] [int] NOT NULL,
	[id_claseFiscal] [int] NULL,
 CONSTRAINT [PK__Table__677F38F5CAA705E3] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes] ADD  CONSTRAINT [DF_clientes_esInscripto]  DEFAULT ((1)) FOR [esInscripto]
GO
ALTER TABLE [dbo].[clientes] ADD  CONSTRAINT [DF_clientes_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[clientes]  WITH NOCHECK ADD  CONSTRAINT [FK_clientes_provincias] FOREIGN KEY([id_provincia_fiscal])
REFERENCES [dbo].[provincias] ([id_provincia])
GO
ALTER TABLE [dbo].[clientes] NOCHECK CONSTRAINT [FK_clientes_provincias]
GO
ALTER TABLE [dbo].[clientes]  WITH NOCHECK ADD  CONSTRAINT [FK_clientes_provincias1] FOREIGN KEY([id_provincia_entrega])
REFERENCES [dbo].[provincias] ([id_provincia])
GO
ALTER TABLE [dbo].[clientes] NOCHECK CONSTRAINT [FK_clientes_provincias1]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_sys_ClasesFiscales] FOREIGN KEY([id_claseFiscal])
REFERENCES [dbo].[sys_ClasesFiscales] ([id_claseFiscal])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK_clientes_sys_ClasesFiscales]
GO
ALTER TABLE [dbo].[clientes]  WITH NOCHECK ADD  CONSTRAINT [FK_clientes_tipos_documentos] FOREIGN KEY([id_tipoDocumento])
REFERENCES [dbo].[tipos_documentos] ([id_tipoDocumento])
GO
ALTER TABLE [dbo].[clientes] NOCHECK CONSTRAINT [FK_clientes_tipos_documentos]
GO
/****** Object:  Trigger [dbo].[creaCCCliente]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[creaCCCliente]
   ON [dbo].[clientes]
   AFTER INSERT
   AS
   BEGIN
	DECLARE @id_cliente AS INTEGER
	SET NOCOUNT ON;
	SELECT @id_cliente = id_cliente FROM inserted

	INSERT INTO cc_clientes (id_cliente, id_moneda, nombre, saldo, activo) 
		VALUES (@id_cliente, 1, 'Default', 0, 1)
   END 
GO
ALTER TABLE [dbo].[clientes] ENABLE TRIGGER [creaCCCliente]
GO
