USE [dbCentrex]
GO
/****** Object:  Table [dbo].[items_impuestos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items_impuestos](
	[id_item] [int] NOT NULL,
	[id_impuesto] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_items_impuestos] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC,
	[id_impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[items_impuestos] ADD  CONSTRAINT [DF_items_impuestos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[items_impuestos]  WITH CHECK ADD  CONSTRAINT [FK_items_impuestos_impuestos] FOREIGN KEY([id_impuesto])
REFERENCES [dbo].[impuestos] ([id_impuesto])
GO
ALTER TABLE [dbo].[items_impuestos] CHECK CONSTRAINT [FK_items_impuestos_impuestos]
GO
ALTER TABLE [dbo].[items_impuestos]  WITH CHECK ADD  CONSTRAINT [FK_items_impuestos_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[items_impuestos] CHECK CONSTRAINT [FK_items_impuestos_items]
GO
