USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cobros_Nfacturas_importes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobros_Nfacturas_importes](
	[id_cobro] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[nfactura] [nvarchar](50) NOT NULL,
	[importe] [decimal](18, 6) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cobros_Nfacturas_importes]  WITH CHECK ADD  CONSTRAINT [FK_cobros_Nfacturas_importes_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[cobros_Nfacturas_importes] CHECK CONSTRAINT [FK_cobros_Nfacturas_importes_cobros]
GO
