USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_cobro_cabecera]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_cobro_cabecera]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		CASE WHEN c.id_cobro_no_oficial = -1 THEN 
			dbo.CalculoComprobante('RC', '1', c.id_cobro_oficial) 
		ELSE 
			dbo.CalculoComprobante('RC', '1', c.id_cobro_no_oficial) 
		END AS 'id_cobro'
		, CONVERT(NVARCHAR(20), c.fecha_carga, 103) AS 'fecha_carga' 
		, CONVERT(NVARCHAR(20), c.fecha_cobro, 103) AS 'fecha_cobro', c.id_cliente, cli.razon_social
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.dineroEnCc AS MONEY),1))) AS 'dineroEnCc'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.efectivo AS MONEY),1))) AS 'efectivo'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.totalTransferencia AS MONEY),1))) AS 'totalTransferencia'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.totalCh AS MONEY),1))) AS 'totalCh'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.totalRetencion AS MONEY),1))) AS 'totalRetencion'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(c.total AS MONEY),1))) AS 'total'
		, c.hayCheque
		, c.hayTransferencia
		, c.hayRetencion
		, c.activo
		, c.id_anulaCobro
		, c.notas
		, c.firmante
		, dbo.CantidadConLetra(c.total) AS 'totalChar', 
		cli.direccion_fiscal
		, dbo.mascaraCUIT(cli.taxNumber) AS 'taxNumber'
		, (CASE WHEN cli.esInscripto = '1' THEN 'Responsable Inscripto' END) AS 'inscripto'		
	FROM cobros AS c
	INNER JOIN clientes AS cli ON c.id_cliente = cli.id_cliente	
	WHERE c.id_cobro = @id
END
GO
