USE [dbCentrex]
GO
/****** Object:  Table [dbo].[comprobantes_compras]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes_compras](
	[id_comprobanteCompra] [int] IDENTITY(1,1) NOT NULL,
	[fecha_carga] [date] NOT NULL,
	[fecha_comprobante] [date] NOT NULL,
	[id_tipoComprobante] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_cc] [int] NOT NULL,
	[id_moneda] [int] NOT NULL,
	[puntoVenta] [nvarchar](10) NULL,
	[numeroComprobante] [nvarchar](50) NULL,
	[id_condicion_compra] [int] NOT NULL,
	[subtotal] [decimal](18, 3) NULL,
	[impuestos] [decimal](18, 3) NULL,
	[conceptos] [decimal](18, 3) NULL,
	[total] [decimal](18, 3) NULL,
	[tasaCambio] [decimal](18, 3) NULL,
	[nota] [nvarchar](max) NULL,
	[cae] [nvarchar](50) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_comprobantes_compras] PRIMARY KEY CLUSTERED 
(
	[id_comprobanteCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[comprobantes_compras] ADD  CONSTRAINT [DF_comprobantes_compras_fecha_carga]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[comprobantes_compras] ADD  CONSTRAINT [DF_comprobantes_compras_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[comprobantes_compras]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_cc_proveedores] FOREIGN KEY([id_cc])
REFERENCES [dbo].[cc_proveedores] ([id_cc])
GO
ALTER TABLE [dbo].[comprobantes_compras] CHECK CONSTRAINT [FK_comprobantes_compras_cc_proveedores]
GO
ALTER TABLE [dbo].[comprobantes_compras]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_condiciones_compra] FOREIGN KEY([id_condicion_compra])
REFERENCES [dbo].[condiciones_compra] ([id_condicion_compra])
GO
ALTER TABLE [dbo].[comprobantes_compras] CHECK CONSTRAINT [FK_comprobantes_compras_condiciones_compra]
GO
ALTER TABLE [dbo].[comprobantes_compras]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[comprobantes_compras] CHECK CONSTRAINT [FK_comprobantes_compras_proveedores]
GO
ALTER TABLE [dbo].[comprobantes_compras]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_sysMoneda] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[sysMoneda] ([id_moneda])
GO
ALTER TABLE [dbo].[comprobantes_compras] CHECK CONSTRAINT [FK_comprobantes_compras_sysMoneda]
GO
ALTER TABLE [dbo].[comprobantes_compras]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_tipos_comprobantes] FOREIGN KEY([id_tipoComprobante])
REFERENCES [dbo].[tipos_comprobantes] ([id_tipoComprobante])
GO
ALTER TABLE [dbo].[comprobantes_compras] CHECK CONSTRAINT [FK_comprobantes_compras_tipos_comprobantes]
GO
