USE [dbCentrex]
GO
/****** Object:  Table [dbo].[comprobantes_compras_conceptos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes_compras_conceptos](
	[id_comprobanteCompraConcepto] [int] IDENTITY(1,1) NOT NULL,
	[id_comprobanteCompra] [int] NOT NULL,
	[id_concepto_compra] [int] NOT NULL,
	[subtotal] [decimal](18, 3) NOT NULL,
	[iva] [decimal](18, 3) NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_comprobantes_compras_conceptos] PRIMARY KEY CLUSTERED 
(
	[id_comprobanteCompraConcepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comprobantes_compras_conceptos]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_conceptos_comprobantes_compras] FOREIGN KEY([id_comprobanteCompra])
REFERENCES [dbo].[comprobantes_compras] ([id_comprobanteCompra])
GO
ALTER TABLE [dbo].[comprobantes_compras_conceptos] CHECK CONSTRAINT [FK_comprobantes_compras_conceptos_comprobantes_compras]
GO
ALTER TABLE [dbo].[comprobantes_compras_conceptos]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_conceptos_conceptos_compra] FOREIGN KEY([id_concepto_compra])
REFERENCES [dbo].[conceptos_compra] ([id_concepto_compra])
GO
ALTER TABLE [dbo].[comprobantes_compras_conceptos] CHECK CONSTRAINT [FK_comprobantes_compras_conceptos_conceptos_compra]
GO
