USE [dbCentrex]
GO
/****** Object:  Table [dbo].[sysMoneda]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysMoneda](
	[id_moneda] [int] IDENTITY(1,1) NOT NULL,
	[moneda] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_sysMoneda] PRIMARY KEY CLUSTERED 
(
	[id_moneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
