USE [dbCentrex]
GO
/****** Object:  Table [dbo].[usuarios_perfiles]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_perfiles](
	[id_usuario] [int] NOT NULL,
	[id_perfil] [int] NOT NULL,
 CONSTRAINT [PK_usuarios_perfiles] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuarios_perfiles]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_perfiles_perfiles] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[perfiles] ([id_perfil])
GO
ALTER TABLE [dbo].[usuarios_perfiles] CHECK CONSTRAINT [FK_usuarios_perfiles_perfiles]
GO
ALTER TABLE [dbo].[usuarios_perfiles]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_perfiles_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[usuarios_perfiles] CHECK CONSTRAINT [FK_usuarios_perfiles_usuarios]
GO
