USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertImpuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertImpuesto]
	-- Add the parameters for the stored procedure here	
	@nombre AS NVARCHAR(100),
	@porcentaje AS DECIMAL(18,4),
	@esRetencion AS BIT, 
	@esPercepcion AS BIT,
	@activo AS BIT,	
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	INSERT INTO impuestos (
		nombre,
		porcentaje,
		esRetencion,
		esPercepcion,
		activo
	)
	VALUES (
		@nombre,
		@porcentaje,
		@esRetencion,
		@esPercepcion,
		@activo
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
