USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmpproduccion_asocItems]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpproduccion_asocItems](
	[id_tmpProduccion_asocItem] [int] IDENTITY(1,1) NOT NULL,
	[id_tmpProduccionItem] [int] NOT NULL,
	[id_produccionItem] [int] NULL,
	[id_produccion] [int] NULL,
	[id_item] [int] NOT NULL,
	[id_item_asoc] [int] NOT NULL,
	[cantidad_item_asoc_enviada] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tmpproduccion_asocItems] PRIMARY KEY CLUSTERED 
(
	[id_tmpProduccion_asocItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_asocItems_asocItems] FOREIGN KEY([id_item], [id_item_asoc])
REFERENCES [dbo].[asocItems] ([id_item], [id_item_asoc])
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems] CHECK CONSTRAINT [FK_tmpproduccion_asocItems_asocItems]
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_asocItems_produccion] FOREIGN KEY([id_produccion])
REFERENCES [dbo].[produccion] ([id_produccion])
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems] CHECK CONSTRAINT [FK_tmpproduccion_asocItems_produccion]
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_asocItems_produccion_items] FOREIGN KEY([id_produccionItem])
REFERENCES [dbo].[produccion_items] ([id_produccionItem])
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems] CHECK CONSTRAINT [FK_tmpproduccion_asocItems_produccion_items]
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_asocItems_tmpproduccion_items] FOREIGN KEY([id_tmpProduccionItem])
REFERENCES [dbo].[tmpproduccion_items] ([id_tmpProduccionItem])
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems] CHECK CONSTRAINT [FK_tmpproduccion_asocItems_tmpproduccion_items]
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_asocItems_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tmpproduccion_asocItems] CHECK CONSTRAINT [FK_tmpproduccion_asocItems_usuarios]
GO
