USE [dbCentrex]
GO
/****** Object:  Table [dbo].[conceptos_compra]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos_compra](
	[id_concepto_compra] [int] IDENTITY(1,1) NOT NULL,
	[concepto] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_conceptos_compra] PRIMARY KEY CLUSTERED 
(
	[id_concepto_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
