USE [dbCentrex]
GO
/****** Object:  Table [dbo].[produccion_asocItems]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccion_asocItems](
	[id_produccion] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[id_item_asoc] [int] NOT NULL,
	[cantidad_item_asoc_enviada] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[produccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_produccion_asocItems_asocItems] FOREIGN KEY([id_item], [id_item_asoc])
REFERENCES [dbo].[asocItems] ([id_item], [id_item_asoc])
GO
ALTER TABLE [dbo].[produccion_asocItems] CHECK CONSTRAINT [FK_produccion_asocItems_asocItems]
GO
ALTER TABLE [dbo].[produccion_asocItems]  WITH CHECK ADD  CONSTRAINT [FK_produccion_asocItems_produccion] FOREIGN KEY([id_produccion])
REFERENCES [dbo].[produccion] ([id_produccion])
GO
ALTER TABLE [dbo].[produccion_asocItems] CHECK CONSTRAINT [FK_produccion_asocItems_produccion]
GO
