USE [dbCentrex]
GO
/****** Object:  View [dbo].[cheques_a_cobrar]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[cheques_a_cobrar]
AS
SELECT        dbo.cheques.fecha_cobro, dbo.cheques.importe, dbo.bancos.nombre AS banco, dbo.cuentas_bancarias.nombre AS cuenta_bancaria, dbo.cuentas_bancarias.saldo, DATEADD(DAY, 2, dbo.cheques.fecha_cobro) 
                         AS fecha_cobro_real, dbo.cheques.id_banco, dbo.cheques.id_cuentaBancaria, dbo.cheques.id_estadoch, dbo.cheques.id_cheque
FROM            dbo.cheques INNER JOIN
                         dbo.cuentas_bancarias ON dbo.cheques.id_cuentaBancaria = dbo.cuentas_bancarias.id_cuentaBancaria INNER JOIN
                         dbo.bancos ON dbo.cheques.id_banco = dbo.bancos.id_banco AND dbo.cuentas_bancarias.id_banco = dbo.bancos.id_banco
WHERE        (dbo.cheques.id_estadoch = 5) AND (DATEADD(DAY, 2, dbo.cheques.fecha_cobro) = CONVERT([date], GETDATE()))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cheques"
            Begin Extent = 
               Top = 13
               Left = 94
               Bottom = 342
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "cuentas_bancarias"
            Begin Extent = 
               Top = 104
               Left = 526
               Bottom = 326
               Right = 699
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "bancos"
            Begin Extent = 
               Top = 29
               Left = 851
               Bottom = 235
               Right = 1021
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 2235
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'cheques_a_cobrar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'cheques_a_cobrar'
GO
