USE [dbCentrex]
GO
/****** Object:  Table [dbo].[comprobantes_compras_impuestos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes_compras_impuestos](
	[id_comprobanteCompraImpuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_comprobanteCompra] [int] NOT NULL,
	[id_impuesto] [int] NOT NULL,
	[importe] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_comprobantes_compras_impuestos] PRIMARY KEY CLUSTERED 
(
	[id_comprobanteCompraImpuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comprobantes_compras_impuestos]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_impuestos_comprobantes_compras] FOREIGN KEY([id_comprobanteCompra])
REFERENCES [dbo].[comprobantes_compras] ([id_comprobanteCompra])
GO
ALTER TABLE [dbo].[comprobantes_compras_impuestos] CHECK CONSTRAINT [FK_comprobantes_compras_impuestos_comprobantes_compras]
GO
ALTER TABLE [dbo].[comprobantes_compras_impuestos]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_impuestos_impuestos] FOREIGN KEY([id_impuesto])
REFERENCES [dbo].[impuestos] ([id_impuesto])
GO
ALTER TABLE [dbo].[comprobantes_compras_impuestos] CHECK CONSTRAINT [FK_comprobantes_compras_impuestos_impuestos]
GO
