USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[remito_cabecera]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[remito_cabecera]
	-- Add the parameters for the stored procedure here
	@idfc INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT CONVERT(NVARCHAR(20), fecha_edicion, 103) AS 'order_date', c.razon_social AS 'cust_name', 
	dbo.mascaraCUIT(c.taxNumber) AS 'cust_taxNumber', c.direccion_entrega AS 'cust_address', 
		(CASE WHEN c.esInscripto = '1'  THEN 'Responsable Inscripto' END) AS 'inscripto', pro.provincia AS 'provincia', c.localidad_entrega AS 'localidad',
		p.subtotal AS 'subtotal', p.iva AS 'iva', CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.total AS MONEY),1))) AS 'total', 
		p.nota1 AS 'nota1', p.nota2 AS 'nota2'
	FROM pedidos AS p			
	INNER JOIN clientes AS c ON p.id_cliente = c.id_cliente
	INNER JOIN provincias AS pro ON c.id_provincia_entrega = pro.id_provincia 
	WHERE p.id_pedido = @idfc	
END
GO
