USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[idultimoingreso]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idultimoingreso]()
RETURNS INT
AS
BEGIN
  DECLARE         @idingreso           INT

  SELECT TOP 1          @idingreso = id_ingreso
  FROM            registros_stock   
  ORDER BY id_ingreso DESC

   IF @idingreso IS NULL 
  BEGIN
	SET @idingreso = 1
  END

  RETURN @idingreso
END
GO
