USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_updateAsocItemsProduccionTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_updateAsocItemsProduccionTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpProduccion_asocItem AS INTEGER,
	@id_tmpProduccionItem AS INTEGER,
	@id_item AS INTEGER,
	@id_item_asoc AS INTEGER,		
	@cantidad_item_asoc_enviada AS INTEGER,	
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	UPDATE tmpproduccion_asocItems SET
		id_tmpProduccionItem = @id_tmpProduccionItem,
		id_item = @id_item, 
		id_item_asoc = @id_item_asoc,
		cantidad_item_asoc_enviada = @cantidad_item_asoc_enviada

	SET @resultado = @id_tmpProduccionItem

	RETURN @resultado
END
GO
