USE [dbCentrex]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[fecha_edicion] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[markup] [decimal](18, 3) NULL,
	[subtotal] [decimal](18, 3) NOT NULL,
	[iva] [decimal](18, 3) NULL,
	[total] [decimal](18, 3) NOT NULL,
	[nota1] [nvarchar](200) NULL,
	[nota2] [nvarchar](200) NULL,
	[esPresupuesto] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[cerrado] [bit] NOT NULL,
	[idPresupuesto] [int] NULL,
	[id_comprobante] [int] NOT NULL,
	[cae] [nvarchar](50) NULL,
	[fechaVencimiento_cae] [date] NULL,
	[puntoVenta] [int] NULL,
	[numeroComprobante] [int] NULL,
	[codigoDeBarras] [nvarchar](100) NULL,
	[esTest] [bit] NOT NULL,
	[id_cc] [int] NULL,
	[fc_qr] [varbinary](max) NULL,
	[numeroComprobante_anulado] [int] NULL,
	[numeroPedido_anulado] [int] NULL,
	[esDuplicado] [bit] NULL,
	[id_usuario] [int] NULL,
 CONSTRAINT [PK_pedidos] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_fecha_edicion]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_edicion]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_esPresupuesto]  DEFAULT ((0)) FOR [esPresupuesto]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_cerrado]  DEFAULT ((0)) FOR [cerrado]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_esTest]  DEFAULT ((0)) FOR [esTest]
GO
ALTER TABLE [dbo].[pedidos] ADD  CONSTRAINT [DF_pedidos_esDuplicado]  DEFAULT ((0)) FOR [esDuplicado]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_cc_clientes] FOREIGN KEY([id_cc], [id_cliente])
REFERENCES [dbo].[cc_clientes] ([id_cc], [id_cliente])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_pedidos_cc_clientes]
GO
ALTER TABLE [dbo].[pedidos]  WITH NOCHECK ADD  CONSTRAINT [FK_pedidos_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[pedidos] NOCHECK CONSTRAINT [FK_pedidos_clientes]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_comprobantes] FOREIGN KEY([id_comprobante])
REFERENCES [dbo].[comprobantes] ([id_comprobante])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_pedidos_comprobantes]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_pedidos_usuarios]
GO
/****** Object:  Trigger [dbo].[ingresoPresupuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ingresoPresupuesto]
   ON [dbo].[pedidos]
   AFTER INSERT, UPDATE
   AS
   DECLARE @esPresupuesto AS BIT
   DECLARE @idUltimoPresupuesto AS INTEGER
   
   SELECT @esPresupuesto = esPresupuesto
   FROM INSERTED;

   IF @esPresupuesto = 1 
	SELECT @idUltimoPresupuesto = dbo.idUltimoPresupuesto() + 1
	IF @idUltimoPresupuesto = 0 OR @idUltimoPresupuesto = 1
		SET @idUltimoPresupuesto = 99999
	UPDATE p SET p.idPresupuesto = @idUltimoPresupuesto
		FROM pedidos AS p
	INNER JOIN DELETED as d ON d.id_pedido = p.id_pedido
GO
ALTER TABLE [dbo].[pedidos] DISABLE TRIGGER [ingresoPresupuesto]
GO
