USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmpproduccion_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpproduccion_items](
	[id_tmpProduccionItem] [int] IDENTITY(1,1) NOT NULL,
	[id_produccionItem] [int] NULL,
	[id_produccion] [int] NULL,
	[id_item] [int] NULL,
	[cantidad] [int] NOT NULL,
	[activo] [bit] NULL,
	[descript] [nvarchar](100) NULL,
	[id_item_recibido] [int] NULL,
	[cantidad_recibida] [int] NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tmpproduccion_items] PRIMARY KEY CLUSTERED 
(
	[id_tmpProduccionItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpproduccion_items] ADD  CONSTRAINT [DF_tmpproduccion_items_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tmpproduccion_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_items_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[tmpproduccion_items] CHECK CONSTRAINT [FK_tmpproduccion_items_items]
GO
ALTER TABLE [dbo].[tmpproduccion_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_items_produccion] FOREIGN KEY([id_produccion])
REFERENCES [dbo].[produccion] ([id_produccion])
GO
ALTER TABLE [dbo].[tmpproduccion_items] CHECK CONSTRAINT [FK_tmpproduccion_items_produccion]
GO
ALTER TABLE [dbo].[tmpproduccion_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpproduccion_items_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tmpproduccion_items] CHECK CONSTRAINT [FK_tmpproduccion_items_usuarios]
GO
