USE [dbCentrex]
GO
/****** Object:  Table [dbo].[pagos_cheques]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos_cheques](
	[id_pago] [int] NOT NULL,
	[id_cheque] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pagos_cheques]  WITH CHECK ADD  CONSTRAINT [FK_pagos_cheques_cheques] FOREIGN KEY([id_cheque])
REFERENCES [dbo].[cheques] ([id_cheque])
GO
ALTER TABLE [dbo].[pagos_cheques] CHECK CONSTRAINT [FK_pagos_cheques_cheques]
GO
ALTER TABLE [dbo].[pagos_cheques]  WITH CHECK ADD  CONSTRAINT [FK_pagos_cheques_pagos] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[pagos_cheques] CHECK CONSTRAINT [FK_pagos_cheques_pagos]
GO
