USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[produccion_cabecera]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[produccion_cabecera]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT pr.id_produccion AS 'id', 
			p.razon_social AS 'proveedor',
			p.direccion_fiscal AS 'direccion_fiscal', 
			p.localidad_fiscal AS 'localidad_fiscal', 
			prov.provincia AS 'provincia_fiscal',
			p.taxNumber AS 'taxNumber',
			CONVERT(NVARCHAR(20), pr.fecha_carga, 103) AS 'fecha_carga',
			CONVERT(NVARCHAR(20), pr.fecha_envio, 103) AS 'fecha_envio', 
			CONVERT(NVARCHAR(20), pr.fecha_recepcion, 103) AS 'fecha_recepcion',
			CASE WHEN pr.enviado = 1 THEN 'Si' ELSE 'No' END AS 'enviado',
			CASE WHEN pr.enviado = 1 THEN 'Si' ELSE 'No' END AS 'recibido',
			pr.notas AS 'notas', 
			CASE WHEN pr.activo = 1 THEN 'Si' ELSE 'No' END AS 'activo'		
		FROM produccion AS pr
		INNER JOIN proveedores AS p ON pr.id_proveedor = p.id_proveedor	
		INNER JOIN provincias AS prov ON p.id_provincia_fiscal = prov.id_provincia
		WHERE pr.id_produccion = @id
END
GO
