USE [dbCentrex]
GO
/****** Object:  Table [dbo].[bancos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bancos](
	[id_banco] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[id_pais] [int] NOT NULL,
	[n_banco] [int] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_bancos] PRIMARY KEY CLUSTERED 
(
	[id_banco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bancos]  WITH CHECK ADD  CONSTRAINT [FK_bancos_paises] FOREIGN KEY([id_pais])
REFERENCES [dbo].[paises] ([id_pais])
GO
ALTER TABLE [dbo].[bancos] CHECK CONSTRAINT [FK_bancos_paises]
GO
