USE [dbCentrex]
GO
/****** Object:  Table [dbo].[ajustes_stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ajustes_stock](
	[id_ajusteStock] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_ajustes_stock] PRIMARY KEY CLUSTERED 
(
	[id_ajusteStock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ajustes_stock] ADD  CONSTRAINT [DF_ajustes_stock_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[ajustes_stock]  WITH CHECK ADD  CONSTRAINT [FK_ajustes_stock_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[ajustes_stock] CHECK CONSTRAINT [FK_ajustes_stock_items]
GO
/****** Object:  Trigger [dbo].[Ajuste_Stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Ajuste_Stock]
   ON [dbo].[ajustes_stock]
   FOR INSERT
   AS    
   
	UPDATE i
	SET i.cantidad = i.cantidad + ins.cantidad
	FROM items AS i
	INNER JOIN INSERTED AS ins ON ins.id_item = i.id_item
GO
ALTER TABLE [dbo].[ajustes_stock] ENABLE TRIGGER [Ajuste_Stock]
GO
