USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_updateItemsProduccionTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_updateItemsProduccionTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpProduccionItem AS INTEGER
	, @id_item AS INTEGER
	, @cantidad AS INTEGER
	, @descript AS NVARCHAR(100)
	, @id_usuario AS INTEGER
	, @resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	UPDATE tmpproduccion_items SET
		id_item = @id_item
		, cantidad = @cantidad
		, descript = @descript	
		, id_usuario = @id_usuario

	SET @resultado = @id_tmpProduccionItem

	RETURN @resultado
END
GO
