USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_comprobanteCompra_detalle_impuestos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_comprobanteCompra_detalle_impuestos]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT i.id_impuesto AS 'id'
			, i.nombre AS 'impuesto'
			, cci.importe AS 'importe'
	FROM comprobantes_compras_impuestos AS cci 
	INNER JOIN impuestos AS i ON cci.id_impuesto = i.id_impuesto
	WHERE cci.id_comprobanteCompra = @id
END
GO
