USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertCobro]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertCobro]
	-- Add the parameters for the stored procedure here
	@id_cobro_oficial AS INTEGER
	, @id_cobro_no_oficial AS INTEGER
	, @fecha_cobro AS NVARCHAR(100)
	, @id_cliente AS INTEGER
	, @id_cc AS INTEGER
	, @dineroEnCc AS DECIMAL(18,3)
	, @efectivo AS DECIMAL(18,3)
	, @totalTransferencia AS DECIMAL(18,3)
	, @totalCh AS DECIMAL(18,3)
	, @totalRetencion AS DECIMAL(18,3)
	, @total AS DECIMAL(18,3)
	, @hayCheque AS BIT
	, @hayTransferencia AS BIT
	, @hayRetencion AS BIT
	--, @aplicaFc AS NVARCHAR(MAX)
	, @id_anulaCobro AS INTEGER
	, @notas AS NVARCHAR(MAX)
	, @firmante AS NVARCHAR(50)	
	, @resultado AS INTEGER OUTPUT	
AS
BEGIN		
	DECLARE @resultado_transaccion AS INTEGER
	DECLARE @id_tipoComprobante AS INTEGER
	DECLARE @id_cobro AS INTEGER
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	INSERT INTO cobros (
		id_cobro_oficial
		, id_cobro_no_oficial
		, fecha_cobro
		, id_cliente 
		, id_cc
		, dineroEnCc
		, efectivo
		, totalTransferencia
		, totalCh
		, totalRetencion
		, total
		, hayCheque
		, hayTransferencia
		, hayRetencion
		--, aplicaFc
		, id_anulaCobro
		, notas
		, firmante	
	)
	VALUES (
		@id_cobro_oficial
		, @id_cobro_no_oficial
		, @fecha_cobro
		, @id_cliente
		, @id_cc
		, @dineroEnCc
		, @efectivo
		, @totalTransferencia
		, @totalCh
		, @totalRetencion
		, @total
		, @hayCheque
		, @hayTransferencia
		, @hayRetencion
		--, @aplicaFc
		, @id_anulaCobro
		, @notas
		, @firmante
	)
	
	SELECT @resultado = SCOPE_IDENTITY()
					
	IF @resultado IS NULL
		SET @resultado = -1

	IF @resultado = -1
		RETURN @resultado

	SELECT @id_cobro = CASE WHEN id_cobro_no_oficial = -1 THEN id_cobro_oficial ELSE id_cobro_no_oficial END FROM cobros WHERE id_cobro = SCOPE_IDENTITY()

	SELECT @id_tipoComprobante = CASE WHEN total > 0 THEN 4 ELSE 1015 END 
	FROM cobros
	WHERE id_cobro = @resultado

	INSERT INTO transacciones (
		fecha
		, id_cobro
		, id_tipoComprobante
		, numeroComprobante
		, puntoVenta
		, total
		, id_cc
		, id_cliente
	)
	VALUES (
		@fecha_cobro
		, @resultado
		--, '4' --4 = RECIBO 
		, @id_tipoComprobante
		, @id_cobro
		, '1'
		, @total
		, @id_cc
		, @id_cliente
	)
	
	SET @resultado_transaccion = SCOPE_IDENTITY()

	IF @resultado_transaccion IS NULL
		DELETE cobros WHERE id_cobro = @resultado
	
	IF @resultado_transaccion IS NULL 
		SET @resultado = -1
	
	RETURN @resultado
END
GO
