USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cobros_retenciones]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobros_retenciones](
	[id_retencion] [int] IDENTITY(1,1) NOT NULL,
	[id_cobro] [int] NOT NULL,
	[id_impuesto] [int] NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_cobros_retenciones] PRIMARY KEY CLUSTERED 
(
	[id_retencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cobros_retenciones]  WITH CHECK ADD  CONSTRAINT [FK_cobros_retenciones_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[cobros_retenciones] CHECK CONSTRAINT [FK_cobros_retenciones_cobros]
GO
ALTER TABLE [dbo].[cobros_retenciones]  WITH CHECK ADD  CONSTRAINT [FK_cobros_retenciones_impuestos] FOREIGN KEY([id_impuesto])
REFERENCES [dbo].[impuestos] ([id_impuesto])
GO
ALTER TABLE [dbo].[cobros_retenciones] CHECK CONSTRAINT [FK_cobros_retenciones_impuestos]
GO
