USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_cierre_diario]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_cierre_diario]
	-- Add the parameters for the stored procedure here
	@id_empresa AS INTEGER,
	@fecha AS NVARCHAR(100)
AS
BEGIN	
	SET NOCOUNT ON;

	SET DATEFORMAT dmy; UPDATE empresa
	SET fecha = @fecha
	WHERE id_empresa = @id_empresa	
END
GO
