USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertComprobanteCompra]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertComprobanteCompra]
	-- Add the parameters for the stored procedure here
	@fecha_comprobante AS NVARCHAR(100),
	@id_proveedor AS INTEGER,
	@id_cc AS DECIMAL(18,3),
	@id_condicion_compra AS INTEGER,
	@id_tipoComprobante AS INTEGER,
	@id_moneda AS DECIMAL(18,3),
	@tasaCambio AS DECIMAL(18,3),
	@puntoVenta AS INTEGER,
	@numeroComprobante AS INTEGER,
	@cae AS NVARCHAR(50), 
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	INSERT INTO comprobantes_compras (
		fecha_comprobante,
		id_tipoComprobante, 
		id_proveedor,
		id_cc, 
		id_moneda,		
		puntoVenta, 
		numeroComprobante,
		id_condicion_compra, 
		tasaCambio,
		cae
	)
	VALUES (
		@fecha_comprobante,
		@id_tipoComprobante, 
		@id_proveedor,
		@id_cc, 
		@id_moneda,		
		@puntoVenta, 
		@numeroComprobante,
		@id_condicion_compra, 
		@tasaCambio,
		@cae
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
