USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[mascaraCUIT]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[mascaraCUIT](@cuit VARCHAR(50))
RETURNS VARCHAR(50)
AS
BEGIN
   IF LEN(@cuit) <  11 
	BEGIN
		RETURN @cuit
	END
	ELSE
	BEGIN
		SET @cuit = CONCAT(SUBSTRING(@cuit,1,2), '-', SUBSTRING(@cuit,3,8), '-', SUBSTRING(@cuit,11,1))		
	END

  RETURN @cuit
END
GO
