USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmptransferencias]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmptransferencias](
	[id_tmpTransferencia] [int] IDENTITY(1,1) NOT NULL,
	[id_cuentaBancaria] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[nComprobante] [nvarchar](50) NULL,
	[notas] [nvarchar](max) NULL,
 CONSTRAINT [PK_tmptransferencias] PRIMARY KEY CLUSTERED 
(
	[id_tmpTransferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmptransferencias]  WITH CHECK ADD  CONSTRAINT [FK_tmptransferencias_cuentas_bancarias] FOREIGN KEY([id_cuentaBancaria])
REFERENCES [dbo].[cuentas_bancarias] ([id_cuentaBancaria])
GO
ALTER TABLE [dbo].[tmptransferencias] CHECK CONSTRAINT [FK_tmptransferencias_cuentas_bancarias]
GO
