USE [dbCentrex]
GO
/****** Object:  Table [dbo].[registros_stock]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registros_stock](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_ingreso] [int] NOT NULL,
	[fecha] [date] NULL,
	[fecha_ingreso] [date] NOT NULL,
	[factura] [nvarchar](50) NULL,
	[archivofc] [image] NULL,
	[id_proveedor] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
	[precio_lista] [decimal](18, 2) NOT NULL,
	[factor] [decimal](18, 2) NOT NULL,
	[cantidad_anterior] [int] NOT NULL,
	[costo_anterior] [decimal](18, 2) NOT NULL,
	[precio_lista_anterior] [decimal](18, 2) NOT NULL,
	[factor_anterior] [decimal](18, 2) NOT NULL,
	[nota] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_registros_stock_1] PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[registros_stock] ADD  CONSTRAINT [DF_registros_stock_fecha_ingreso]  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[registros_stock] ADD  CONSTRAINT [DF_registros_stock_id_proveedor]  DEFAULT ((1)) FOR [id_proveedor]
GO
ALTER TABLE [dbo].[registros_stock] ADD  CONSTRAINT [DF_registros_stock_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[registros_stock]  WITH CHECK ADD  CONSTRAINT [FK_registros_stock_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[registros_stock] CHECK CONSTRAINT [FK_registros_stock_items]
GO
ALTER TABLE [dbo].[registros_stock]  WITH CHECK ADD  CONSTRAINT [FK_registros_stock_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[registros_stock] CHECK CONSTRAINT [FK_registros_stock_proveedores]
GO
/****** Object:  Trigger [dbo].[UpdateItems]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateItems]
   ON [dbo].[registros_stock]
   FOR INSERT
   AS
   UPDATE p SET p.cantidad = p.cantidad + d.cantidad, p.costo = d.costo,
    p.precio_lista = d.precio_lista, p.factor = d.factor
   FROM items AS p
   INNER JOIN INSERTED AS d ON d.id_item = p.id_item
GO
ALTER TABLE [dbo].[registros_stock] ENABLE TRIGGER [UpdateItems]
GO
