USE [dbCentrex]
GO
/****** Object:  Table [dbo].[produccion_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccion_items](
	[id_produccionItem] [int] IDENTITY(1,1) NOT NULL,
	[id_produccion] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[id_item_recibido] [int] NULL,
	[cantidad_recibida] [int] NULL,
	[descript] [nvarchar](100) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_produccion_items] PRIMARY KEY CLUSTERED 
(
	[id_produccionItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[produccion_items] ADD  CONSTRAINT [DF_produccion_items_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[produccion_items]  WITH CHECK ADD  CONSTRAINT [FK_produccion_items_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[produccion_items] CHECK CONSTRAINT [FK_produccion_items_items]
GO
ALTER TABLE [dbo].[produccion_items]  WITH CHECK ADD  CONSTRAINT [FK_produccion_items_items1] FOREIGN KEY([id_item_recibido])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[produccion_items] CHECK CONSTRAINT [FK_produccion_items_items1]
GO
ALTER TABLE [dbo].[produccion_items]  WITH CHECK ADD  CONSTRAINT [FK_produccion_items_produccion] FOREIGN KEY([id_produccion])
REFERENCES [dbo].[produccion] ([id_produccion])
GO
ALTER TABLE [dbo].[produccion_items] CHECK CONSTRAINT [FK_produccion_items_produccion]
GO
/****** Object:  Trigger [dbo].[Update_Stock_Produccion]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Update_Stock_Produccion]
   ON [dbo].[produccion_items]
   FOR UPDATE
   AS    

  	/*UPDATE i
		SET i.cantidad = i.cantidad + d.cantidad
	FROM items AS i
	INNER JOIN DELETED AS d on i.id_item = d.id_item*/

	UPDATE i
		SET i.cantidad = i.cantidad + d.cantidad_recibida
	FROM items AS i
	INNER JOIN INSERTED AS d ON i.id_item = d.id_item_recibido
	WHERE d.activo = 0

	UPDATE ii
		SET ii.cantidad = ii.cantidad - pai.cantidad_item_asoc_enviada
	FROM items AS i
	INNER JOIN INSERTED AS d ON i.id_item = d.id_item_recibido
	INNER JOIN produccion_asocItems AS pai ON d.id_produccion = pai.id_produccion
	INNER JOIN items AS ii ON pai.id_item_asoc = ii.id_item
	WHERE d.activo = 0 AND d.id_item_recibido IS NOT NULL

	
GO
ALTER TABLE [dbo].[produccion_items] ENABLE TRIGGER [Update_Stock_Produccion]
GO
