USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cc_clientes]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cc_clientes](
	[id_cc] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_moneda] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[saldo] [decimal](18, 3) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cc_clientes] PRIMARY KEY CLUSTERED 
(
	[id_cc] ASC,
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cc_clientes] ADD  CONSTRAINT [DF_cc_clientes_id_moneda]  DEFAULT ((1)) FOR [id_moneda]
GO
ALTER TABLE [dbo].[cc_clientes] ADD  CONSTRAINT [DF_cc_clientes_saldo]  DEFAULT ((0)) FOR [saldo]
GO
ALTER TABLE [dbo].[cc_clientes] ADD  CONSTRAINT [DF_cc_clientes_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cc_clientes]  WITH NOCHECK ADD  CONSTRAINT [FK_cc_clientes_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[cc_clientes] NOCHECK CONSTRAINT [FK_cc_clientes_clientes]
GO
ALTER TABLE [dbo].[cc_clientes]  WITH CHECK ADD  CONSTRAINT [FK_cc_clientes_sysMoneda] FOREIGN KEY([id_moneda])
REFERENCES [dbo].[sysMoneda] ([id_moneda])
GO
ALTER TABLE [dbo].[cc_clientes] CHECK CONSTRAINT [FK_cc_clientes_sysMoneda]
GO
/****** Object:  Trigger [dbo].[No_borrar_ultima_CC_cliente]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[No_borrar_ultima_CC_cliente] ON [dbo].[cc_clientes]
INSTEAD OF DELETE 
AS 
BEGIN
  DELETE FROM cc_clientes WHERE (    
		SELECT COUNT(d.id_cc) 
		FROM Deleted d 
		INNER JOIN cc_clientes AS b ON d.id_cliente = b.id_cliente       
	) > 1 AND id_cc = (
		SELECT dd.id_cc 
		FROM deleted dd
	);
END;
GO
ALTER TABLE [dbo].[cc_clientes] ENABLE TRIGGER [No_borrar_ultima_CC_cliente]
GO
