USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmppedidos_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmppedidos_items](
	[id_tmpPedidoItem] [int] IDENTITY(1,1) NOT NULL,
	[id_pedidoItem] [int] NULL,
	[id_pedido] [int] NULL,
	[id_item] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[activo] [bit] NULL,
	[descript] [nvarchar](100) NULL,
	[id_usuario] [int] NOT NULL,
	[id_unico] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tmppedidos_items] PRIMARY KEY NONCLUSTERED 
(
	[id_tmpPedidoItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_tmppedidos_items]    Script Date: 19/10/2025 22:18:06 ******/
CREATE CLUSTERED INDEX [IX_tmppedidos_items] ON [dbo].[tmppedidos_items]
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmppedidos_items] ADD  CONSTRAINT [DF_tmppedidos_items_id_pedido]  DEFAULT (NULL) FOR [id_pedido]
GO
ALTER TABLE [dbo].[tmppedidos_items] ADD  CONSTRAINT [DF_tmppedidos_items_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tmppedidos_items]  WITH CHECK ADD  CONSTRAINT [FK_tmppedidos_items_pedidos] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[tmppedidos_items] CHECK CONSTRAINT [FK_tmppedidos_items_pedidos]
GO
ALTER TABLE [dbo].[tmppedidos_items]  WITH CHECK ADD  CONSTRAINT [FK_tmppedidos_items_pedidos_items] FOREIGN KEY([id_pedidoItem])
REFERENCES [dbo].[pedidos_items] ([id_pedidoItem])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tmppedidos_items] CHECK CONSTRAINT [FK_tmppedidos_items_pedidos_items]
GO
