USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_updateComprobanteCompra]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_updateComprobanteCompra]
	-- Add the parameters for the stored procedure here
	@id_comprobanteCompra AS INTEGER,
	@fecha_comprobante AS NVARCHAR(100),
	@id_proveedor AS INTEGER,
	@id_cc AS DECIMAL(18,3),
	@id_condicion_compra AS INTEGER,
	@id_tipoComprobante AS INTEGER,
	@id_moneda AS DECIMAL(18,3),
	@tasaCambio AS DECIMAL(18,3),
	@puntoVenta AS INTEGER,
	@numeroComprobante AS INTEGER,
	@cae AS NVARCHAR(50)
AS
BEGIN	
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	UPDATE comprobantes_compras 
		SET fecha_comprobante = @fecha_comprobante,
		id_tipoComprobante = @id_tipoComprobante, 
		id_proveedor = @id_proveedor,
		id_cc = @id_cc, 
		id_moneda = @id_moneda,		
		puntoVenta = @puntoVenta, 
		numeroComprobante = @numeroComprobante,
		id_condicion_compra = @id_condicion_compra, 
		tasaCambio = @tasaCambio,
		cae = @cae
	WHERE id_comprobanteCompra = @id_comprobanteCompra	
END
GO
