USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmpSelCH]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpSelCH](
	[id_cobro] [int] NULL,
	[id_pago] [int] NULL,
	[id_cheque] [int] NOT NULL,
	[seleccionado] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpSelCH] ADD  CONSTRAINT [DF_tmpSelCH_seleccionado]  DEFAULT ((0)) FOR [seleccionado]
GO
ALTER TABLE [dbo].[tmpSelCH]  WITH CHECK ADD  CONSTRAINT [FK_tmpSelCH_cheques] FOREIGN KEY([id_cheque])
REFERENCES [dbo].[cheques] ([id_cheque])
GO
ALTER TABLE [dbo].[tmpSelCH] CHECK CONSTRAINT [FK_tmpSelCH_cheques]
GO
ALTER TABLE [dbo].[tmpSelCH]  WITH CHECK ADD  CONSTRAINT [FK_tmpSelCH_cobros] FOREIGN KEY([id_cobro])
REFERENCES [dbo].[cobros] ([id_cobro])
GO
ALTER TABLE [dbo].[tmpSelCH] CHECK CONSTRAINT [FK_tmpSelCH_cobros]
GO
ALTER TABLE [dbo].[tmpSelCH]  WITH CHECK ADD  CONSTRAINT [FK_tmpSelCH_pagos] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[tmpSelCH] CHECK CONSTRAINT [FK_tmpSelCH_pagos]
GO
