USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_comprobanteCompra_detalle_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_comprobanteCompra_detalle_items]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT i.id_item AS 'id'
		, i.item AS 'codigo'
		, i.descript AS 'descript'
		, cci.cantidad AS 'cantidad'
		, cci.precio AS 'precio'
	FROM comprobantes_compras_items AS cci 
	INNER JOIN items AS i ON cci.id_item = i.id_item
	WHERE cci.id_comprobanteCompra = @id
END
GO
