USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_cerrarComprobanteCompra]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_cerrarComprobanteCompra]
	-- Add the parameters for the stored procedure here
	@id_comprobanteCompra AS INTEGER,
	@subtotal AS DECIMAL(18,3),
	@impuestos AS DECIMAL(18,3),
	@conceptos AS DECIMAL(18,3),
	@total AS DECIMAL(18,3),
	@nota AS NVARCHAR(MAX)	
AS
BEGIN	
	SET NOCOUNT ON;	
	UPDATE comprobantes_compras 
		SET subtotal = @subtotal,
		impuestos = @impuestos,
		conceptos = @conceptos,
		total = @total,
		nota = @nota,
		activo = '0'
	WHERE id_comprobanteCompra = @id_comprobanteCompra	
END
GO
