USE [dbCentrex]
GO
/****** Object:  Table [dbo].[impuestos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impuestos](
	[id_impuesto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[esRetencion] [bit] NULL,
	[esPercepcion] [bit] NULL,
	[porcentaje] [decimal](18, 4) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_impuestos] PRIMARY KEY CLUSTERED 
(
	[id_impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[impuestos] ADD  CONSTRAINT [DF_impuestos_esRetencion]  DEFAULT ((0)) FOR [esRetencion]
GO
ALTER TABLE [dbo].[impuestos] ADD  CONSTRAINT [DF_impuestos_esPercepcion]  DEFAULT ((0)) FOR [esPercepcion]
GO
ALTER TABLE [dbo].[impuestos] ADD  CONSTRAINT [DF_impuestos_activo]  DEFAULT ((1)) FOR [activo]
GO
/****** Object:  Trigger [dbo].[activaImpuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[activaImpuesto]
ON [dbo].[impuestos]
FOR UPDATE
AS 
	DECLARE @id_impuesto AS INTEGER
	DECLARE @activo AS INTEGER

	SELECT @id_impuesto = id_impuesto FROM inserted
	SELECT @activo = activo FROM inserted

	IF UPDATE(activo)
	BEGIN
		UPDATE items_impuestos
		SET activo = @activo
		WHERE id_impuesto = @id_impuesto
	END
GO
ALTER TABLE [dbo].[impuestos] DISABLE TRIGGER [activaImpuesto]
GO
/****** Object:  Trigger [dbo].[CrearItems_Impuestos]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CrearItems_Impuestos]
   ON [dbo].[impuestos]
   FOR INSERT
   AS
   
	INSERT INTO items_impuestos (id_impuesto, id_item, activo)
		SELECT ii.id_impuesto, i.id_item, ii.activo
		FROM items AS i
		JOIN impuestos AS ii ON ii.id_impuesto = ii.id_impuesto 
		INNER JOIN INSERTED AS ins ON ii.id_impuesto = ins.id_impuesto
GO
ALTER TABLE [dbo].[impuestos] DISABLE TRIGGER [CrearItems_Impuestos]
GO
