USE [dbCentrex]
GO
/****** Object:  Table [dbo].[comprobantes_compras_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprobantes_compras_items](
	[id_comprobanteCompraItem] [int] IDENTITY(1,1) NOT NULL,
	[id_comprobanteCompra] [int] NOT NULL,
	[id_item] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_comprobantes_compras_items] PRIMARY KEY CLUSTERED 
(
	[id_comprobanteCompraItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comprobantes_compras_items]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_items_comprobantes_compras] FOREIGN KEY([id_comprobanteCompra])
REFERENCES [dbo].[comprobantes_compras] ([id_comprobanteCompra])
GO
ALTER TABLE [dbo].[comprobantes_compras_items] CHECK CONSTRAINT [FK_comprobantes_compras_items_comprobantes_compras]
GO
ALTER TABLE [dbo].[comprobantes_compras_items]  WITH CHECK ADD  CONSTRAINT [FK_comprobantes_compras_items_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[comprobantes_compras_items] CHECK CONSTRAINT [FK_comprobantes_compras_items_items]
GO
