USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cheques]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cheques](
	[id_cheque] [int] IDENTITY(1,1) NOT NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_emision] [date] NOT NULL,
	[id_cliente] [int] NULL,
	[id_proveedor] [int] NULL,
	[id_banco] [int] NOT NULL,
	[nCheque] [int] NOT NULL,
	[nCheque2] [int] NOT NULL,
	[importe] [decimal](18, 3) NOT NULL,
	[id_estadoch] [int] NOT NULL,
	[fecha_cobro] [date] NULL,
	[fecha_salida] [date] NULL,
	[fecha_deposito] [date] NULL,
	[recibido] [bit] NULL,
	[emitido] [bit] NULL,
	[id_cuentaBancaria] [int] NULL,
	[eCheck] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cheques] PRIMARY KEY CLUSTERED 
(
	[id_cheque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_fecha_ingreso]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_id_cliente]  DEFAULT (NULL) FOR [id_cliente]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_id_proveedor]  DEFAULT (NULL) FOR [id_proveedor]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_id_estadoC]  DEFAULT ((1)) FOR [id_estadoch]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_fecha_cobro]  DEFAULT (NULL) FOR [fecha_cobro]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_fecha_salida]  DEFAULT (NULL) FOR [fecha_salida]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_fecha_deposito]  DEFAULT (NULL) FOR [fecha_deposito]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_id_cuentaBancaria]  DEFAULT (NULL) FOR [id_cuentaBancaria]
GO
ALTER TABLE [dbo].[cheques] ADD  CONSTRAINT [DF_cheques_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cheques]  WITH CHECK ADD  CONSTRAINT [FK_cheques_bancos] FOREIGN KEY([id_banco])
REFERENCES [dbo].[bancos] ([id_banco])
GO
ALTER TABLE [dbo].[cheques] CHECK CONSTRAINT [FK_cheques_bancos]
GO
ALTER TABLE [dbo].[cheques]  WITH NOCHECK ADD  CONSTRAINT [FK_cheques_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[cheques] NOCHECK CONSTRAINT [FK_cheques_clientes]
GO
ALTER TABLE [dbo].[cheques]  WITH CHECK ADD  CONSTRAINT [FK_cheques_cuentas_bancarias] FOREIGN KEY([id_cuentaBancaria])
REFERENCES [dbo].[cuentas_bancarias] ([id_cuentaBancaria])
GO
ALTER TABLE [dbo].[cheques] CHECK CONSTRAINT [FK_cheques_cuentas_bancarias]
GO
ALTER TABLE [dbo].[cheques]  WITH CHECK ADD  CONSTRAINT [FK_cheques_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[cheques] CHECK CONSTRAINT [FK_cheques_proveedores]
GO
ALTER TABLE [dbo].[cheques]  WITH CHECK ADD  CONSTRAINT [FK_cheques_sysestados_cheques] FOREIGN KEY([id_estadoch])
REFERENCES [dbo].[sysestados_cheques] ([id_estadoch])
GO
ALTER TABLE [dbo].[cheques] CHECK CONSTRAINT [FK_cheques_sysestados_cheques]
GO
