USE [dbCentrex]
GO
/****** Object:  Table [dbo].[ordenes_compras]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes_compras](
	[id_ordenCompra] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[fecha_carga] [date] NOT NULL,
	[fecha_comprobante] [date] NOT NULL,
	[fecha_recepcion] [date] NULL,
	[subtotal] [decimal](18, 3) NOT NULL,
	[iva] [decimal](18, 3) NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[recibido] [bit] NULL,
	[notas] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ordenes_compras] PRIMARY KEY CLUSTERED 
(
	[id_ordenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ordenes_compras] ADD  CONSTRAINT [DF_ordenes_compras_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[ordenes_compras] ADD  CONSTRAINT [DF_ordenes_compras_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ordenes_compras]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_compras_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[ordenes_compras] CHECK CONSTRAINT [FK_ordenes_compras_proveedores]
GO
