USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[produccion_detalle]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[produccion_detalle]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
			pri.id_produccionItem AS 'id',
			pri.id_produccion AS 'id_produccion', 
			i.item AS 'item', 
			pri.descript AS 'descript', 
			pri.cantidad AS 'cantidad', 
			ISNULL(pri.cantidad_recibida, 0) AS 'cantidad_recibida', 
			CASE WHEN pri.activo = 1 THEN 'Si' ELSE 'No' END AS 'activo'
	FROM produccion_items AS pri
	INNER JOIN items AS i ON pri.id_item = i.id_item
	LEFT JOIN items AS ii ON pri.id_item_recibido = ii.id_item
	WHERE pri.id_produccion = @id
	ORDER BY pri.id_produccionItem ASC
END
GO
