USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertPago]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertPago]
	-- Add the parameters for the stored procedure here	
	@fecha_pago AS NVARCHAR(100)
	, @id_proveedor AS INTEGER
	, @id_cc AS INTEGER
	, @dineroEnCc AS DECIMAL(18,3)
	, @efectivo AS DECIMAL(18,3)
	, @totalTransferencia AS DECIMAL(18,3)
	, @totalCh AS DECIMAL(18,3)
	, @total AS DECIMAL(18,3)
	, @hayCheque AS BIT
	, @hayTransferencia AS BIT
	--, @esAnulacion AS BIT
	, @id_anulaPago AS BIT
	, @notas AS NVARCHAR(MAX)
		--, @aplicaFC AS NVARCHAR(MAX)
	, @resultado AS INTEGER OUTPUT
AS
BEGIN	
	DECLARE @resultado_transaccion AS INTEGER
	DECLARE @id_tipoComprobante AS INTEGER
	SET NOCOUNT ON;
	SET DATEFORMAT dmy;
	INSERT INTO pagos(
		fecha_pago
		, id_proveedor
		, id_cc
		, dineroEnCc
		, efectivo
		, totalTransferencia
		, totalCh
		, total
		, hayCheque
		, hayTransferencia
		--, esAnulacion
		, id_anulaPago
		, notas		
		--, aplicaFC
	)
	VALUES (		
		@fecha_pago
		, @id_proveedor
		, @id_cc
		, @dineroEnCc
		, @efectivo
		, @totalTransferencia
		, @totalCh
		, @total
		, @hayCheque
		, @hayTransferencia
		--, @esAnulacion
		, @id_anulaPago
		, @notas
		--, @aplicaFC
	)

	SET @resultado = SCOPE_IDENTITY()	

	IF @resultado IS NULL
		SET @resultado = -1
	
	IF @resultado = -1
		RETURN @resultado

	SELECT @id_tipoComprobante = CASE WHEN total > 0 THEN 4 ELSE 1015 END 
	FROM pagos
	WHERE id_pago = @resultado

	INSERT INTO transacciones (
		fecha
		, id_pago
		, id_tipoComprobante
		, numeroComprobante
		, puntoVenta
		, total
		, id_cc
		, id_proveedor
	)
	VALUES (
		@fecha_pago
		, @resultado
		--, '4' --4 = RECIBO
		, @id_tipoComprobante
		, @resultado
		, '1'
		, @total
		, @id_cc
		, @id_proveedor
	)
	
	SET @resultado_transaccion = SCOPE_IDENTITY()

	IF @resultado_transaccion IS NULL
		DELETE cobros WHERE id_cobro = @resultado
	
	IF @resultado_transaccion IS NULL 
		SET @resultado = -1

	RETURN @resultado
END
GO
