USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertItemsOCTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertItemsOCTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpOCItem AS INTEGER,
	@id_item AS INTEGER,
	@cantidad AS INTEGER,	
	@precio AS DECIMAL(18,3),
	@descript AS NVARCHAR(100),
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	INSERT INTO tmpOC_items (		
		id_item,
		cantidad,
		precio,
		descript
	)
	VALUES (		
		@id_item,
		@cantidad,
		@precio,
		@descript
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
