USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_detalle_pagos_transferencias]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_detalle_pagos_transferencias]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.id_transferencia, CONVERT(NVARCHAR(20), t.fecha, 103) AS 'fecha', b.nombre AS 'banco', cb.nombre AS 'cuenta_bancaria',
	CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(t.total AS MONEY),1))) AS 'total', t.nComprobante, t.notas
	FROM pagos AS p
	INNER JOIN transferencias AS t ON p.id_pago = t.id_pago
	INNER JOIN cuentas_bancarias AS cb ON t.id_cuentaBancaria = cb.id_cuentaBancaria
	INNER JOIN bancos AS b ON cb.id_banco = b.id_banco	
	WHERE p.id_pago = @id
END
GO
