USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_pago_cabecera]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_pago_cabecera]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		 dbo.CalculoComprobante('OP', '1', p.id_pago) AS 'nRecibo'
		, CONVERT(NVARCHAR(20), p.fecha_carga, 103) AS 'fecha_carga'
		, CONVERT(NVARCHAR(20), p.fecha_pago, 103) AS 'fecha_pago'
		, p.id_proveedor
		, pr.razon_social
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.dineroEnCc AS MONEY),1))) AS 'dineroEnCc'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.efectivo AS MONEY),1))) AS 'efectivo'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.totalTransferencia AS MONEY),1))) AS 'totalTransferencia'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.totalCh AS MONEY),1))) AS 'totalCh'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(p.total AS MONEY),1))) AS 'total'	
		, p.hayCheque
		, p.hayTransferencia
		, p.activo
		--, p.esAnulacion
		, p.id_anulaPago
		, p.notas
		--, p.aplicaFC
		, dbo.CantidadConLetra(p.total) AS 'totalChar' 
		, pr.direccion_fiscal, dbo.mascaraCUIT(pr.taxNumber) AS 'taxNumber'
		, (CASE WHEN pr.esInscripto = '1'  THEN 'Responsable Inscripto' END) AS 'inscripto'		
	FROM pagos AS p
	INNER JOIN proveedores AS pr ON p.id_proveedor = pr.id_proveedor
	WHERE p.id_pago = @id
END
GO
