USE [dbCentrex]
GO
/****** Object:  Table [dbo].[asocItems]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asocItems](
	[id_item] [int] NOT NULL,
	[id_item_asoc] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_asocItems] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC,
	[id_item_asoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asocItems]  WITH CHECK ADD  CONSTRAINT [FK_asocItems_items] FOREIGN KEY([id_item])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[asocItems] CHECK CONSTRAINT [FK_asocItems_items]
GO
ALTER TABLE [dbo].[asocItems]  WITH CHECK ADD  CONSTRAINT [FK_asocItems_items1] FOREIGN KEY([id_item_asoc])
REFERENCES [dbo].[items] ([id_item])
GO
ALTER TABLE [dbo].[asocItems] CHECK CONSTRAINT [FK_asocItems_items1]
GO
