USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_comprobanteCompra_cabecera]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_comprobanteCompra_cabecera]
	-- Add the parameters for the stored procedure here
	@id AS INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT CONVERT(NVARCHAR(20), cc.fecha_carga, 103) AS 'fecha_carga'
		, CONVERT(NVARCHAR(20), cc.fecha_comprobante, 103) AS 'fecha_comprobante'
		, CONCAT(tc.comprobante_AFIP, ' Nº  ', REPLICATE('0', 4 - LEN(cc.puntoVenta)), cc.puntoVenta, '-', REPLICATE('0', 8 - LEN(cc.numeroComprobante)), cc.numeroComprobante) AS 'comprobante'
		, cnc.condicion AS 'condicion_compra'
		, p.razon_social AS 'razon_social'
		, dbo.mascaraCUIT(p.taxNumber) AS 'supp_taxNumber'
		, p.direccion_fiscal AS 'supp_address'
		, (CASE WHEN p.esInscripto = '1'  THEN 'Responsable Inscripto' END) AS 'inscripto'
		, prov.provincia AS 'provincia'
		, p.localidad_fiscal AS 'localidad'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cc.subTotal AS MONEY),1))) AS 'subtotal'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cc.impuestos AS MONEY),1))) AS 'impuestos'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cc.conceptos AS MONEY),1))) AS 'conceptos'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cc.total AS MONEY),1))) AS 'total'
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(cc.tasaCambio AS MONEY),1))) AS 'total'
		, cc.nota AS 'nota'
		, cc.cae AS 'cae'		
	FROM comprobantes_compras AS cc
	INNER JOIN tipos_comprobantes AS tc ON cc.id_tipoComprobante = tc.id_tipoComprobante
	INNER JOIN proveedores AS p ON cc.id_proveedor = p.id_proveedor
	INNER JOIN cc_proveedores AS ccp ON cc.id_cc = ccp.id_cc
	INNER JOIN sysMoneda AS sm ON cc.id_moneda = sm.id_moneda
	INNER JOIN provincias AS prov ON p.id_provincia_fiscal = prov.id_provincia
	INNER JOIN condiciones_compra AS cnc ON cc.id_condicion_compra = cnc.id_condicion_compra	
	WHERE cc.id_comprobanteCompra = @id
END
GO
