USE [dbCentrex]
GO
/****** Object:  UserDefinedFunction [dbo].[idUltimoPresupuesto]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[idUltimoPresupuesto]()
RETURNS INT
AS
BEGIN
  DECLARE         @idPresupuesto           INT

   SELECT @idPresupuesto = MAX(idPresupuesto)
	FROM pedidos

 IF @idPresupuesto IS NULL 
  BEGIN
	SET @idPresupuesto = 1
  END

  RETURN @idPresupuesto
END
GO
