USE [dbCentrex]
GO
/****** Object:  Table [dbo].[produccion]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produccion](
	[id_produccion] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[fecha_carga] [date] NOT NULL,
	[fecha_envio] [date] NULL,
	[fecha_recepcion] [date] NULL,
	[enviado] [bit] NULL,
	[recibido] [bit] NULL,
	[notas] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_produccion] PRIMARY KEY CLUSTERED 
(
	[id_produccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[produccion] ADD  CONSTRAINT [DF_produccion_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[produccion]  WITH CHECK ADD  CONSTRAINT [FK_produccion_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[produccion] CHECK CONSTRAINT [FK_produccion_proveedores]
GO
ALTER TABLE [dbo].[produccion]  WITH CHECK ADD  CONSTRAINT [FK_produccion_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[produccion] CHECK CONSTRAINT [FK_produccion_usuarios]
GO
