USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[datos_empresa]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[datos_empresa]		
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombre, direccion, dbo.mascaraCUIT(cuit) AS 'cuit', ingresos_brutos, inicio_actividades, logo
	FROM empresa
END
GO
