USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertItemsProduccionTMP]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertItemsProduccionTMP]
	-- Add the parameters for the stored procedure here	
	@id_tmpProduccionItem AS INTEGER
	, @id_item AS INTEGER
	, @cantidad AS INTEGER
	, @descript AS NVARCHAR(100)
	, @id_usuario AS INTEGER
	, @resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	INSERT INTO tmpproduccion_items (		
		id_item
		, cantidad
		, descript
		, id_usuario
	)
	VALUES (		
		@id_item
		, @cantidad
		, @descript
		, @id_usuario
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
