USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_insertTmpCobroRetencion]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_insertTmpCobroRetencion]
	-- Add the parameters for the stored procedure here	
	@id_impuesto AS INTEGER,	
	@total AS DECIMAL(18,3),	
	@notas AS NVARCHAR(MAX),	
	@resultado AS INTEGER OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;

	INSERT INTO tmpcobros_retenciones (
		id_impuesto,
		total,
		notas
	)
	VALUES (
		@id_impuesto,
		@total,
		@notas
	)

	SET @resultado = SCOPE_IDENTITY()	

	RETURN @resultado
END
GO
