USE [dbCentrex]
GO
/****** Object:  Table [dbo].[sys_modoMiPyme]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_modoMiPyme](
	[id_modoMiPyme] [int] IDENTITY(1,1) NOT NULL,
	[modo] [nvarchar](100) NOT NULL,
	[abreviatura] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_sys:_modoMiPyme] PRIMARY KEY CLUSTERED 
(
	[id_modoMiPyme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
