USE [dbCentrex]
GO
/****** Object:  Table [dbo].[cobros]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cobros](
	[id_cobro] [int] IDENTITY(1,1) NOT NULL,
	[id_cobro_oficial] [int] NOT NULL,
	[id_cobro_no_oficial] [int] NOT NULL,
	[fecha_carga] [date] NOT NULL,
	[fecha_cobro] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_cc] [int] NOT NULL,
	[dineroEnCc] [decimal](18, 3) NOT NULL,
	[efectivo] [decimal](18, 3) NOT NULL,
	[totalTransferencia] [decimal](18, 3) NOT NULL,
	[totalCh] [decimal](18, 3) NOT NULL,
	[totalRetencion] [decimal](18, 3) NOT NULL,
	[total] [decimal](18, 3) NOT NULL,
	[hayCheque] [bit] NOT NULL,
	[hayTransferencia] [bit] NOT NULL,
	[hayRetencion] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[id_anulaCobro] [int] NULL,
	[notas] [nvarchar](max) NULL,
	[firmante] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cobros] PRIMARY KEY CLUSTERED 
(
	[id_cobro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_id_cobro_no_oficial]  DEFAULT ((-1)) FOR [id_cobro_no_oficial]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_fecha_carga]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_dineroEnCc]  DEFAULT ((0)) FOR [dineroEnCc]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_efectivo]  DEFAULT ((0)) FOR [efectivo]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_transferencia]  DEFAULT ((0)) FOR [totalTransferencia]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_totalCh]  DEFAULT ((0)) FOR [totalCh]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_totalRetencion]  DEFAULT ((0)) FOR [totalRetencion]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[cobros] ADD  CONSTRAINT [DF_cobros_activo_1]  DEFAULT ((0)) FOR [activo]
GO
ALTER TABLE [dbo].[cobros]  WITH NOCHECK ADD  CONSTRAINT [FK_cobros_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[cobros] NOCHECK CONSTRAINT [FK_cobros_clientes]
GO
