USE [dbCentrex]
GO
/****** Object:  Table [dbo].[tmpOC_items]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpOC_items](
	[id_tmpOCItem] [int] IDENTITY(1,1) NOT NULL,
	[id_ocItem] [int] NULL,
	[id_ordenCompra] [int] NULL,
	[id_item] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 3) NOT NULL,
	[activo] [bit] NULL,
	[descript] [nvarchar](100) NULL,
	[cantidad_recibida] [int] NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_tmpOC_items] PRIMARY KEY CLUSTERED 
(
	[id_tmpOCItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmpOC_items] ADD  CONSTRAINT [DF_tmpOC_items_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[tmpOC_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpOC_items_ordenes_compras] FOREIGN KEY([id_ordenCompra])
REFERENCES [dbo].[ordenes_compras] ([id_ordenCompra])
GO
ALTER TABLE [dbo].[tmpOC_items] CHECK CONSTRAINT [FK_tmpOC_items_ordenes_compras]
GO
ALTER TABLE [dbo].[tmpOC_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpOC_items_ordenesCompra_items] FOREIGN KEY([id_ocItem])
REFERENCES [dbo].[ordenesCompras_items] ([id_ocItem])
GO
ALTER TABLE [dbo].[tmpOC_items] CHECK CONSTRAINT [FK_tmpOC_items_ordenesCompra_items]
GO
ALTER TABLE [dbo].[tmpOC_items]  WITH CHECK ADD  CONSTRAINT [FK_tmpOC_items_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tmpOC_items] CHECK CONSTRAINT [FK_tmpOC_items_usuarios]
GO
