USE [dbCentrex]
GO
/****** Object:  StoredProcedure [dbo].[SP_detalle_pagos_cheques]    Script Date: 19/10/2025 22:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_detalle_pagos_cheques]
	-- Add the parameters for the stored procedure here
	@id INTEGER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ch.id_cheque
		, CONVERT(NVARCHAR(20), ch.fecha_cobro, 103) AS 'fecha_ingreso'
		, b.nombre AS 'banco'
		, ch.nCheque
		, CONCAT('$', dbo.milesArgentinos(CONVERT(VARCHAR(50), CAST(ch.importe AS MONEY),1))) AS 'importe'
	FROM pagos AS p
	INNER JOIN pagos_cheques AS pc ON p.id_pago = pc.id_pago
	INNER JOIN cheques AS ch ON pc.id_cheque = ch.id_cheque
	INNER JOIN bancos AS b ON ch.id_banco = b.id_banco	
	WHERE p.id_pago = @id
END
GO
